{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-news vl4">

    {{ content_fields.image(content, location, 'i320') }}

    <div class="info">
        <div class="date">
            {{ content.fields.publish_date.value.value|date('j. n. Y.') }}
        </div>
        <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>

        {{ content_fields.intro(content) }}
    </div>

</div>
