{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ viewType }} ng-news vl4">

    {{ content_fields.image(content, location, 'i320') }}

    <div class="article-content">
        <header class="article-header">
            <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
            <p class="info">
                <time>{{ content.fields.publish_date.value.value|date('j M Y') }}</time>
            </p>
        </header>
        <div class="short">
            {{ content_fields.intro(content) }}
        </div>
    </div>
</article>
