{% if show_path and path_array|length > 2 %}
    <nav class="breadcrumb-wrapper" aria-label="breadcrumbs">
        <a href="{{ ibexa_path(ibexa.rootLocation) }}" class="breadcrumb-item">
            <i class="icon-home"></i>
            <span>{{ ibexa.rootLocation.content.name }}</span>
        </a>
        {% for path_item in path_array|slice(1, path_array|length - 1) %}
            {% if path_item.url == false %}
                <span class="breadcrumb-item breadcrumb-item--no-link"{% if loop.last %} aria-current="location"{% endif %}><span>{{ path_item.text }}</span></span>
            {% else %}
                <a class="breadcrumb-item breadcrumb-item--link" href="{{ path_item.url }}"{% if loop.last %} aria-current="location"{% endif %}><span>{{ path_item.text }}</span></a>
            {% endif %}
        {% endfor %}
    </nav>
{% endif %}
