{% extends ngbm.layoutTemplate %}

{% set show_path = false %}

{% block content %}
<div class="content-search">
    <form action="{{ path('ngmore_content_search') }}" method="get" class="form-search">
        <div class="search-inputs">
            <div class="input-group">
                <input type="text" value="{{ search_text }}" name="searchText" id="Search" class="form-control" placeholder="{{ 'ngmore.search.placeholder'|trans }}" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-dark">{{ 'ngmore.search.button'|trans }}</button>
                </span>
            </div>

            {% if search_text is not empty %}
                {% if pager.nbResults == 0 %}
                    <div class="alert alert-error">
                        <h2>{{ 'ngmore.search.no_results'|trans({'%searchText%': search_text}) }}</h2>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        <h2>{{ 'ngmore.search.results'|trans({'%searchText%': search_text, '%searchCount%': pager.nbResults}) }}</h2>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% if search_text is not empty %}
            <div class="row">
                <div class="col-xs-12">
                    {% if pager.nbResults > 0 %}
                        {% if pager.haveToPaginate() %}
                            {{ pagerfanta(pager, 'ngmore') }}
                        {% endif %}

                        <div id="search-result">
                            {% for search_hit in pager.currentPageResults.searchHits %}
                                {% set score = null %}

                                {% if search_hit.score is not null %}
                                    {% set score = (search_hit.score * 100)|round %}
                                {% endif %}

                                {{ render(
                                    controller(
                                        'ng_content:viewAction', {
                                            'content': search_hit.valueObject.content,
                                            'location': search_hit.valueObject,
                                            'viewType': 'search',
                                            'layout': false,
                                            'params': {
                                                'score_percent': score
                                            }
                                        }
                                    )
                                ) }}
                            {% endfor %}
                        </div>

                        {% if pager.haveToPaginate() %}
                            {{ pagerfanta(pager, 'ngmore') }}
                        {% endif %}
                    {% else %}
                        <ul>
                            <li>{{ 'ngmore.search.no_results.check_spelling'|trans }}</li>
                            <li>{{ 'ngmore.search.no_results.change_keywords'|trans }}</li>
                            <li>{{ 'ngmore.search.no_results.less_specific_keywords'|trans }}</li>
                            <li>{{ 'ngmore.search.no_results.reduce_keywords'|trans }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
