<div class="zone-layout-{{ zone_layout|lower }}">

    {% if zones[0].blocks is not empty %}
        <div class="top-content-block">
            <div class="container">
                <section class="zone zone-{{ zones[0].identifier|lower }}">
                    {% include 'NetgenMoreBundle:parts:zone_content.html.twig' with { 'zone': zones[0], 'set_container': true } %}
                </section>
            </div>
        </div>
    {% endif %}

    {% if zones[1].blocks is not empty or zones[2].blocks is not empty %}
        <div class="main-content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        {% if zones[1].blocks is not empty %}
                            <section class="zone zone-{{ zones[1].identifier|lower }}">
                                {% include 'NetgenMoreBundle:parts:zone_content.html.twig' with { 'zone': zones[1] } %}
                            </section>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if zones[2].blocks is not empty %}
                            <section class="zone zone-{{ zones[2].identifier|lower }}">
                                {% include 'NetgenMoreBundle:parts:zone_content.html.twig' with { 'zone': zones[2] } %}
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if zones[3].blocks is not empty %}
        <div class="bottom-content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="zone zone-{{ zones[3].identifier|lower }}">
                            {% include 'NetgenMoreBundle:parts:zone_content.html.twig' with { 'zone': zones[3] } %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
