{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} {{ ngmore_content_type_identifier( content.contentInfo.contentTypeId )|replace( { '_': '-' } ) }} vl t2 clearfix">

    {{ content_fields.image( content, location, 'i320' ) }}

    <div class="info">
        <h2 class="title"><a href="{{ path( location ) }}">{{ content_fields.name( content ) }}</a></h2>

        {{ content_fields.intro( content ) }}
    </div>
</div>
