{% import 'NetgenMoreDemoBundle:parts:content.html.twig' as content %}

<div class="view-type view-type-{{ viewType }} {{ ngmore_content_type_identifier( content.contentInfo.contentTypeId )|replace( { '_': '-' } ) }} vl t3 clearfix">

    {{ content.image( content, location ) }}

    <div class="info">
        <h2 class="title"><a href="{{ path( location ) }}">{{ content.name( content ) }}</a></h2>
    </div>

</div>
