{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

<div class="view-type view-type-search {{ ngmore_content_type_identifier( content.contentInfo.contentTypeId )|replace( { '_': '-' } ) }} vl3">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 add-line">
            {{ content_fields.image( content, location, 'i320' ) }}

            <div class="info">
                <h2 class="title">
                    <a href="{{ path( location ) }}">{{ content_fields.name( content ) }}</a>
                </h2>

                <div class="short">
                    {% if content.fields.line_intro is defined and not ez_is_field_empty( content, 'line_intro' ) %}
                        {{ ez_render_field( content, 'line_intro' ) }}
                    {% elseif content.fields.full_intro is defined and not ez_is_field_empty( content, 'full_intro' ) %}
                        {{ ez_render_field( content, 'full_intro' ) }}
                    {% elseif content.fields.body is defined and not ez_is_field_empty( content, 'body' ) %}
                        {{ ez_field_value( content, 'body' ).xml.saveXML()|striptags|trim|truncate( 210 ) }}
                    {% endif %}
                </div>

                <div class="date">Last updated: {{ content.contentInfo.modificationDate|date( 'F j, Y H:i' ) }}</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <div class="additional-info">
                <div class="type">
                    <label>
                        Type:
                    </label>
                    {{ ngmore_content_type_name( content.contentInfo.contentTypeId ) }}
                </div>

                {% if score_percent is defined %}
                    <div class="score progress">
                        <div class="bar" style="width:{{ score_percent }}%">{{ score_percent }}%</div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

</div>
