{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
    {% if is_slider is not defined %}
        {% set is_slider = false %}
    {% endif %}

    {% if alias_name is not defined or alias_name is empty %}
        {% set alias_name = 'original' %}
    {% endif %}

    <div class="{% if is_slider %}rsContent{% else %}multimediaContent{% endif %}">
        {% if not ez_is_field_empty( content, 'video_file_hd' ) %}
            {% set field = 'video_file_hd' %}
        {% else %}
            {% set field = 'video_file' %}
        {% endif %}

        {% set image_path = asset( 'bundles/netgenmoredemo/images/video_poster_default.png' ) %}

        {% if not ez_is_field_empty( content, 'poster' ) %}
            {% set image_alias = ez_image_alias( ngmore_field( content, 'poster' ), content.versionInfo, alias_name ) %}
            {% if image_alias.uri is defined and image_alias.uri is not empty %}
                {% set image_path = image_alias.uri %}
            {% endif %}
        {% endif %}

        {% set download_url = path( 'ngmore_download', { 'contentId': content.id, 'fieldId': content.getField( field ).id } ) %}
        {% set mime_type = ez_field_value( content, field ).mimeType %}

        <div class="video-config video-local-{{ content.id }}"
             style="display: none;"
             data-video_player_id="video-local-{{ content.id }}"
             data-autostart="{% if ez_field_value( content, 'autoplay' ).bool or is_slider %}true{% else %}false{% endif %}"
             data-image="{{ image_path }}"
             data-file="{{ download_url }}"
             data-videotype="local"
             data-mimetype="{{ mime_type }}"></div>

        {% if is_slider %}
            <a class="rsImg"
               data-rsVideo="video-local-{{ content.id }}"
               href="{{ image_path }}"></a>
        {% else %}
            <div class="video-container" id="video-local-{{ content.id }}">Loading the player ...</div>
        {% endif %}
    </div>
{% endif %}
