{# NG article - line view #}

{% set location_path = path( location ) %}

<div class="content-view-line ng-article media vl t2 clearfix">

    {% if not ez_is_field_empty( content, 'line_image' ) or not ez_is_field_empty( content, 'image' ) %}
        {% set image_field = not ez_is_field_empty( content, 'line_image' ) ? 'line_image' : 'image' %}

        <div class="att-image image">
            {{ ez_render_field(
                content,
                image_field, {
                    'parameters': {
                        'alias': 'ng_image_line',
                        'link_href': location_path,
                        'link_class': 'img-responsive'
                    }
                }
            ) }}
        </div>
    {% endif %}

    <div class="info">
        <h2 class="att-title title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

        {% if not ez_is_field_empty( content, 'line_intro' ) %}
            <div class="att-line-intro short">
                {{ ez_render_field( content, 'line_intro' ) }}
            </div>
        {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
            <div class="att-line-intro short">
                {{ ez_render_field( content, 'full_intro' ) }}
            </div>
        {% endif %}
    </div>
</div>
