{# NG blog post - line view #}

{% set location_path = path( location ) %}

<div class="content-view-line ng-blog-post media clearfix">

    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    <div class="att-author">
        <p><small>
            {% if not ez_is_field_empty( content, 'author_override' ) %}
                {{ ez_render_field( content, 'author_override' ) }}
            {% else %}
                {# TODO: Owner name #}
            {% endif %}
            on {{ ez_field_value( content, 'publish_date' ).value|date( 'F j, Y.' ) }}
        </small></p>
    </div>

    {% if not ez_is_field_empty( content, 'line_image' ) %}
        {{ ez_render_field(
            content,
            'line_image', {
                'parameters': {
                    'alias': 'ng_image_line',
                    'link_class': 'att-image pull-left',
                    'href': location_path
                }
            }
        ) }}
    {% elseif not ez_is_field_empty( content, 'image' ) %}
        {{ ez_render_field(
            content,
            'image', {
                'parameters': {
                    'alias': 'ng_image_line',
                    'link_class': 'att-image pull-left',
                    'href': location_path
                }
            }
        ) }}
    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

</div>
