{# NG video external - line view #}

{% set location_path = path( location ) %}

<div class="content-view-line ng-video-external clearfix">

    <h2 class="att-name"><a href="{{ location_path }}">{{ ez_content_name( content ) }}</a></h2>

    {% if not ez_is_field_empty( content, 'poster' ) %}
        <div class="att-poster">
            <a href="{{ location_path }}">
                {{ ez_render_field( content, 'poster', { 'parameters': { 'alias': 'ng_image_line' } } ) }}
            </a>
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
