{% set location_path = path( location ) %}
{% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}
{% set video_type = ez_field_value( content, 'video_type' ) %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-video vl t3 clearfix">
        <div class="att-poster image">
            <a href="{{ location_path }}" class="image-16by9">
                {% if not ez_is_field_empty( content, 'poster' ) %}
                    {{ ez_render_field( content, 'poster', { 'parameters': { 'alias': 'i320' } } ) }}
                {% elseif 'youtube' in video_type.identifiers %}
                    <img src="https://img.youtube.com/vi/{{ video_identifier }}/mqdefault.jpg" >
                {% elseif 'vimeo' in video_type.identifiers %}
                    <div class="vimeo-poster" data-id="{{ video_identifier }}"></div>
                {% elseif 'dailymotion' in video_type.identifiers %}
                    <img src="https://www.dailymotion.com/thumbnail/video/{{ video_identifier }}" >
                {% endif %}
            </a>
        </div>
        <div class="info with-icon">
            <a href="{{ location_path }}"><i class="fa fa-play-circle"></i></a>
            <h2 class="att-name title"><a href="{{ location_path }}">{{ ez_render_field( content, 'name' ) }}</a></h2>
        </div>
    </div>
{% endblock %}
