{# ng_banner - default view type #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-banner">

        {% if not ez_is_field_empty( content, 'image' ) %}
            <div class="att-image">
                {{ ez_render_field(
                    content,
                    'image', {
                        'parameters': {
                            'alias': 'ng_image_full',
                            'link_href': url,
                            'link_target': open_in_new_window ? '_blank' : ''
                        }
                    }
                ) }}
            </div>
        {% endif %}

        {% if not ez_is_field_empty( content, 'title' ) %}
            <h2 class="att-title"><a href="{{ url }}" {% if open_in_new_window %} target="_blank" {% endif %}>{{ ez_render_field( content, 'title' ) }}</a></h2>
        {% endif %}

        {% if not ez_is_field_empty( content, 'short_description' ) %}
            <div class="att-short-description">{{ ez_render_field( content, 'short_description' ) }}</div>
        {% endif %}

    </div>
{% endblock %}
