{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
    <div class="form-group">
        {{- form_label( form ) -}}
        {{- form_errors( form ) -}}
        {{- form_widget( form ) -}}
    </div>
{%- endblock form_row -%}

{%- block _ezforms_create_user_user_account_row -%}
    {{- form_errors( form ) -}}
    {{- form_widget( form ) -}}
{%- endblock -%}

{%- block _ezforms_create_user_user_account_widget -%}
    {% for identifier, child in form %}
        {% if identifier == 'password' %}
            {{ form_row( child.first, { attr: attr } ) }}

            {{ form_row( child.second, { attr: attr } ) }}
        {% else %}
            {{ form_row( child, { attr: attr } ) }}
        {% endif %}
    {% endfor %}
{%- endblock -%}
