{% import '@ezdesign/parts/slide.html.twig' as slide %}
{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ view_type }} {{ content.contentInfo.contentTypeIdentifier|replace({'_': '-'}) }} vl3 {% if show_details_on_hover %}show_details_on_hover{% endif %}">
    {% if image_type == 'main' %}
        {{ slide.image(content, 'image', 'i1200', true) }}

        {% if show_details %}
            <div class="info">
                <h2 class="title"><a href={{ path(location) }}>{{ content_fields.title(content) }}</a></h2>
            </div>
        {% endif %}
    {% elseif image_type == 'thumb' %}
        {{ slide.image(content, 'image', 'i320') }}
    {% endif %}
</div>
