{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} {{ content.contentInfo.contentTypeIdentifier|replace({'_': '-'}) }} vl4">

    {{ content_fields.image(content, location, 'i320') }}

    <div class="article-content">
        <header class="article-header">
            <h2 class="title"><a href="{{ path(location) }}">{{ content_fields.title(content) }}</a></h2>
        </header>
        <div class="short">
            {{ content_fields.intro(content) }}
        </div>
    </div>

</article>
