{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/content_fields.html.twig' as content_fields %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-audio vl6 t1">
    <h3 class="title">
        <a href="{{ ibexa_path(location) }}">
            <i class="icon-volume-up article-icon" aria-hidden="true"></i>{{ content_fields.title(content) }}
        </a>
    </h3>

    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
