{# NG blog post - embed view #}

{% set location_path = path( 'ez_urlalias', { 'locationId': content.contentInfo.mainLocationId } ) %}

<div class="content-view-embed ng-blog-post">

    <h3><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h3>

    <div class="att-publish-date">
        {{ ez_field_value( content, 'publish_date' ).value|date( 'j. n. Y.' ) }}
    </div>

    <div class="att-author">
        {% if not ez_is_field_empty( content, 'author_override' ) %}
            {{ ez_render_field( content, 'author_override' ) }}
        {% else %}
            {{ ngmore_owner_name( content ) }}
        {% endif %}
    </div>

    {% if not ez_is_field_empty( content, 'line_image' ) %}
        <div class="att-image">
            {{ ez_render_field(
                content,
                'line_image', {
                    'parameters': {
                        'alias': 'ng_image_embed',
                        'link_href': location_path
                    }
                }
            ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'image' ) %}
        <div class="att-image">
            {{ ez_render_field(
                content,
                'image', {
                    'parameters': {
                        'alias': 'ng_image_embed',
                        'link_href': location_path
                    }
                }
            ) }}
        </div>
    {% endif %}

</div>
