{# NG banner video - embed view #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% set image_alias = null %}
{% if not ez_is_field_empty( content, 'poster' ) %}
    {% set image_field = content.getField( 'poster' ) %}
    {% set image_alias = ez_image_alias( image_field, content.versionInfo, 'original' ) %}
{% endif %}

{% block content %}
<div class="content-view-full ng-banner-video {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">

    {% if not ez_is_field_empty( content, 'title' ) %}
        <h1 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h1>
    {% endif %}

    {% if not ez_is_field_empty( content, 'short_description' ) %}
        <div class="att-short-description">{{ ez_render_field( content, 'short_description' ) }}</div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'video_identifier' ) %}
        {% set video_type = ez_field_value( content, 'video_type' ) %}

        {% if 'youtube' in video_type.identifiers %}
            <div class="video-external youtube">
                <video style="display:none;" class="sublime" data-youtube-id="{{ ez_field_value( content, 'video_identifier' ).text }}" width="770" height="433" poster="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" preload="none" data-initial-overlay-enable="false" data-autoresize="{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}" data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}"></video>
            </div>
        {% elseif 'vimeo' in video_type.identifiers %}
            <div class="video-external vimeo">
                <iframe style="border:none;" src="//player.vimeo.com/video/{{ ez_field_value( content, 'video_identifier' ).text }}{% if ez_field_value( content, 'autoplay' ).bool %}?autoplay=1{% endif %}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% elseif not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
        <div class="video-local">
            <video style="display:none;" class="sublime" title="{{ ez_field_value( content, 'name' ).text }}" width="770" height="433" poster="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" data-uid="sublime_0" preload="none" data-initial-overlay-enable="false" data-autoresize="{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}" data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}">
                {% if not ez_is_field_empty( content, 'video_file' ) %}
                    <source src="{{ path( '_netgenMoreDownload', { 'contentId': content.id, 'fieldId': content.getField( 'video_file' ).id } ) }}" />
                {% endif %}
                {% if not ez_is_field_empty( content, 'video_file_hd' ) %}
                    <source src="{{ path( '_netgenMoreDownload', { 'contentId': content.id, 'fieldId': content.getField( 'video_file_hd' ).id } ) }}" />
                {% endif %}
            </video>
        </div>
    {% endif %}

</div>
{% endblock %}
