{# NG video - embed view #}

{% set image_path = asset( 'bundles/netgenmoredemo/images/video_poster_default.png' ) %}
{% if not ez_is_field_empty( content, 'poster' ) %}
    {% set image = ngmore_field( content, 'poster' ) %}
    {% set image_alias = ez_image_alias( image, content.versionInfo, 'original' ) %}
    {% if image_alias.uri is defined and image_alias.uri is not empty %}
        {% set image_path = image_alias.uri %}
    {% endif %}
{% endif %}

<div class="content-view-embed ng-video">

    {% if not ez_is_field_empty( content, 'name' ) %}
        <h2 class="att-name">{{ ez_render_field( content, 'name' ) }}</h2>
    {% endif %}

    {% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
        {% set local_video_field = ez_is_field_empty( content, 'video_file_hd' ) ? 'video_file' : 'video_file_hd' %}

        {% set ng_download_url = path( 'ngmore_download', { 'contentId': content.id, 'fieldId': content.getField( local_video_field ).id } ) %}
        {% set mime_type = ez_field_value(content, local_video_field ).mimeType %}

        <div class="video-config video-local-{{ content.id }}"
             style="display: none;"
             data-video_player_id="video-local-{{ content.id }}"
             data-width="750"
             data-height="422"
             data-autostart="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}"
             data-image="{{ image_path }}"
             data-file="{{ ng_download_url }}"
             data-videotype="local"
             data-mimetype="{{ mime_type }}">
        </div>

        <div class="video-container" id="video-local-{{ content.id }}">Loading the player ...</div>

    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line_intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
