{# NG video - embed view #}

{% set image_alias = null %}
{% if not ez_is_field_empty( content, 'poster' ) %}
    {% set image_field = content.getField( 'poster' ) %}
    {% set image_alias = ez_image_alias( image_field, content.versionInfo, 'original' ) %}
{% endif %}

<div class="content-view-embed ng-video">

    {% if not ez_is_field_empty( content, 'name' ) %}
        <h2 class="att-name">{{ ez_render_field( content, 'name' ) }}</h2>
    {% endif %}

    {% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
        <div class="video-local sublime-{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}-container">
            <video style="display:none;" class="sublime" title="{{ ez_field_value( content, 'name' ).text }}" width="750" height="422" poster="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" data-uid="sublime_0" preload="none" data-initial-overlay-enable="false" data-autoresize="{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}" data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}">
                {% if not ez_is_field_empty( content, 'video_file' ) %}
                    <source src="{{ path( '_netgenMoreDownload', { 'contentId': content.id, 'fieldId': content.getField( 'video_file' ).id } ) }}" />
                {% endif %}
                {% if not ez_is_field_empty( content, 'video_file_hd' ) %}
                    <source src="{{ path( '_netgenMoreDownload', { 'contentId': content.id, 'fieldId': content.getField( 'video_file_hd' ).id } ) }}" />
                {% endif %}
            </video>
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line_intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
