{# NG video external - embed view #}

{% set image_alias = null %}
{% if not ez_is_field_empty( content, 'poster' ) %}
    {% set image_alias = ez_image_alias( ngmore_field( content, 'poster' ), content.versionInfo, 'original' ) %}
{% endif %}

<div class="content-view-embed ng-video-external">

    {% if not ez_is_field_empty( content, 'name' ) %}
        <h2 class="att-name">{{ ez_render_field( content, 'name' ) }}</h2>
    {% endif %}

    {% if not ez_is_field_empty( content, 'video_identifier' ) %}
        {% set video_type = ez_field_value( content, 'video_type' ) %}

        {% if 'youtube' in video_type.identifiers %}
            <div class="video-youtube">
                <video style="display:none;" class="sublime" data-youtube-id="{{ ez_field_value( content, 'video_identifier' ).text }}" width="770" height="433" poster="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" preload="none" data-initial-overlay-enable="false" data-autoresize="{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}" data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}"></video>
            </div>
        {% elseif 'vimeo' in video_type.identifiers %}
            <div class="video-vimeo">
                <iframe style="border:none;" src="//player.vimeo.com/video/{{ ez_field_value( content, 'video_identifier' ).text }}{% if ez_field_value( content, 'autoplay' ).bool %}?autoplay=1{% endif %}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line_intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
