{# ng_banner - block_item campaign viewtype #}

{% extends 'NetgenMoreDemoBundle:parts/block_item_view_types:linkable.html.twig' %}

{% set image_field = content.getField( 'image' ) %}
{% set image_alias = ez_image_alias( image_field, content.versionInfo, alias_name|default( 'original' ) ) %}

{% block content %}
    <div class="rsContent{% if not ez_is_field_empty( content, 'css_class' ) %} {{ ez_field_value( content, 'css_class' ).text }}{% endif %}">
        <img class="rsImg rsMainSlideImage" src="{{ image_alias.uri }}" alt="{{ image_field.value.alternativeText }}" />
        <div class="bContainer">
            <div class="rsABlock txtCent">

                {% if not ez_is_field_empty( content, 'title' ) %}
                    <h2 class="att-title"><a href="{{ url }}" {% if open_in_new_window %} target="_blank" {% endif %}>{{ ez_render_field( content, 'title' ) }}</a></h2>
                {% endif %}

                {% if not ez_is_field_empty( content, 'short_description' ) %}
                    <div class="att-short-description">{{ ez_render_field( content, 'short_description' ) }}</div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
