{% macro content_link(content, link_name, link_class) %}
{% spaceless %}
    {% set url = '#' %}
    {% set open_in_new_window = false %}
    {% set link_class = link_class|default %}

    {% if not content.fields.url.empty %}
        {% set url = content.fields.url.value.link %}

        {% if content.fields.target_blank.value.bool %}
            {% set open_in_new_window = true %}
        {% endif %}
    {% elseif not content.fields.related_object.empty %}
        {% set related_content = content.fieldRelation('related_object') %}

        {% if related_content.id != content.id %} {# dead loop #}
            {% set url = path(related_content) %}
        {% endif %}
    {% endif %}

    <a href="{{ url }}"
        {% if link_class is not empty %}class="{{ link_class }}"{% endif %}
        {% if open_in_new_window %}target="_blank" rel="noopener noreferrer" {% endif %}
    >
        {{ link_name|default }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro image_link(content, field, alias, lazy_loading) %}
{% spaceless %}
    {% set url = '#' %}
    {% set open_in_new_window = false %}
    {% set lazy_loading = lazy_loading ?? ezpublish.configResolver.getParameter('lazy_loading.enabled', 'ngsite') %}

    {% if not content.fields.url.empty %}
        {% set url = content.fields.url.value.link %}

        {% if content.fields.target_blank.value.bool %}
            {% set open_in_new_window = true %}
        {% endif %}
    {% elseif not content.fields.related_object.empty %}
        {% set related_content = content.fieldRelation('related_object') %}

        {% if related_content.id != content.id %} {# dead loop #}
            {% set url = path(related_content) %}
        {% endif %}
    {% endif %}

    {{ ng_render_field(
        content.fields[field], {
            'parameters': {
                'alias': alias,
                'link_href': url,
                'link_target': open_in_new_window ? '_blank' : '',
                'lazy_loading': lazy_loading,
            }
        }
    ) }}
{% endspaceless %}
{% endmacro %}

{% macro content_link_parameters(content) %}
{% spaceless %}
    {% set url = '#' %}
    {% set open_in_new_window = false %}

    {% if not content.fields.url.empty %}
        {% set url = content.fields.url.value.link %}

        {% if content.fields.target_blank.value.bool %}
            {% set open_in_new_window = true %}
        {% endif %}
    {% elseif not content.fields.related_object.empty %}
        {% set related_content = content.fieldRelation('related_object') %}

        {% if related_content.id != content.id %} {# dead loop #}
            {% set url = path(related_content) %}
        {% endif %}
    {% endif %}

    href="{{ url }}"{% if open_in_new_window %} target="_blank" rel="noopener noreferrer"{% endif %}
{% endspaceless %}
{% endmacro %}
