{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}
{# form \Symfony\Component\Form\FormView #}

{% extends '@ibexadesign/forms/info_collection_base.html.twig' %}

{% block form_body %}
    {% form_theme form '@ibexadesign/forms/theme.html.twig' %}

    {{ form_start(form, form_parameters) }}
        {{ form_errors(form) }}

        <div class="form-wrapper">
            {{ form_row(form.sender_first_name, { ngparams: { autocomplete: 'given-name' } })}}

            {% if not content.fields.honeypot_field_name.empty %}
                {{ form_row(form[content.fields.honeypot_field_name.value.text]) }}
            {% endif %}

            {{ form_row(form.sender_last_name, { ngparams: { autocomplete: 'family-name' } })}}
            {{ form_row(form.sender_email, { ngparams: { autocomplete: 'email' } })}}

            {{ form_row(form.sender_message) }}

            {{ form_row(form.sender_file_cv.children.value.children.file, { ngparams: { label: content.fields.sender_file_cv.name} }) }}
            {{ form_row(form.sender_motivation_letter.children.value.children.file, { ngparams: { label: content.fields.sender_motivation_letter.name} }) }}
            {{ form_row(form.gdpr_consent, { ngparams: { label: content.fields.gdpr_consent_label.value.xml|ibexa_richtext_to_html5} }) }}
            {{ form_row(form.newsletter_1_consent, { ngparams: { label: content.fields.newsletter_1_label.value.xml|ibexa_richtext_to_html5} }) }}

            {{ form_row(form.referer.value, {
                'hidden' : true,
                'attr' : {
                    'value': referer,
                }
            }) }}

            <div class="form-submit">
                <button type="submit" class="btn btn-primary">{{ 'ngsite.collected_info.button.send'|trans }}</button>
            </div>
            {{ form_rest(form) }}
        </div>

    {{ form_end(form, { 'render_rest': false }) }}
{% endblock %}

{% block form_response %}
    {{ parent() }}
{% endblock %}
