{% if not content.fields.image.empty %}
    {% set image = content.fields.image %}
    {% set image_uri = ng_image_alias(image, 'i1200').uri|default('') %}
    {% set alt_text = image.value.alternativeText|default('') %}

    {% if is_slider %}
        <div class="swiper-slide">
            <figure class="related-image">
                <img class="swiper-lazy" data-src="{{ image_uri }}" {% if alt_text %} alt="{{ alt_text }}" {% endif %} />
                {% if content.fields.caption is defined and not content.fields.caption.empty %}
                    <figcaption>
                        {{ ng_render_field(content.fields.caption) }}
                    </figcaption>
                {% endif %}
            </figure>
        </div>
    {% else %}
        <figure class="related-image">
            <img src="{{ image_uri }}" {% if alt_text %} alt="{{ alt_text }}" {% endif %} />
            {% if content.fields.caption is defined and not content.fields.caption.empty %}
                <figcaption>
                    {{ ng_render_field(content.fields.caption) }}
                </figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% endif %}
