{% trans_default_domain "ngmore_user" %}

<h1><a href="{{ base_url }}" target="_blank">{{ site_name }}</a></h1>

<p>{{ "ngmore.user.activate.mail.email_not_registered.text"|trans }}<br/></p>

<p><a href="{{ base_url }}">{{ site_name }}</a></p>