{% extends 'NetgenMoreDemoBundle:user/mail:layout.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block title %}
    {{ "ngmore.user.reset_password.mail.password_changed.text"|trans }}
{% endblock %}

{% block content %}
    {{ "ngmore.user.mail.account_information"|trans }}

    <br>

    {{ "ngmore.user.mail.username"|trans }}: {{ user.login }}

    <br>

    {{ "ngmore.user.mail.email"|trans }}: {{ user.email }}

    <br><br>

    {% if return_url is defined and return_url is not empty %}
        <a href="{{ return_url }}">{{ return_url }}</a>
    {% else %}
        <a href="{{ site_url }}">{{ site_name }}</a>
    {% endif %}
{% endblock %}
