{% extends 'NetgenMoreDemoBundle:user/mail:layout.html.twig' %}

{% trans_default_domain "ngmore_mail" %}

{% block title %}
    {{ "ngmore.user.forgot_password.title"|trans }}
{% endblock %}

{% block content %}
    {{ "ngmore.user.account_information"|trans }}

    <br>

    {{ "ngmore.user.username"|trans }}: {{ user.login }}

    <br>

    {{ "ngmore.user.email"|trans }}: {{ user.email }}

    <br><br>

    {{ "ngmore.user.forgot_password.text"|trans }} <a href="{{ url( 'ngmore_user_reset_password', { hash: hash } ) }}">{{ url( 'ngmore_user_reset_password', { hash: hash } ) }}</a>
{% endblock %}
