{% trans_default_domain "ngmore_user" %}

<p>{{ "ngmore.user.forgotten_password.mail.title"|trans }}</p>

<p>{{ "ngmore.user.mail.account_information"|trans }}<br/>
    {{ "ngmore.user.mail.username"|trans }}: {{ user.login }}<br/>
    {{ "ngmore.user.mail.email"|trans }}: {{ user.email }}<br/>
</p>

<p>{{ "ngmore.user.forgotten_password.mail.text"|trans }} <a href="{{ url('ngmore_user_reset_password', { hash: hash }) }}">{{ url('ngmore_user_reset_password', { hash: hash }) }}</a></p>