<p>{{ "ngmore.user.mail.forgotten_password.title"|trans }}</p>

<p>{{ "ngmore.user.mail.forgotten_password.account_information"|trans }}<br/>
    {{ "ngmore.user.mail.forgotten_password.username"|trans }}: {{ user.login }}<br/>
    {{ "ngmore.user.mail.forgotten_password.email"|trans }}: {{ user.email }}<br/>
</p>

<p>{{ "Click the following URL to reset password"|trans }} <a href="{{ url('ngmore_user_reset_password', { hash: hash }) }}">{{ url('ngmore_user_reset_password', { hash: hash }) }}</a></p>