{% extends 'NetgenMoreDemoBundle:user/mail:layout.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block title %}
    <a href="{{ site_url }}" target="_blank">{{ site_name }}</a>
{% endblock %}

{% block content %}
    {{ "ngmore.user.forgotten_password.mail.email_not_registered.text"|trans }}

    <br>

    <a href="{{ site_url }}">{{ site_name }}</a>
{% endblock %}
