{% extends 'NetgenMoreDemoBundle:user/mail:layout.html.twig' %}

{% trans_default_domain "ngmore_mail" %}

{% block title %}
    <a href="{{ site_url }}" target="_blank">{{ site_name }}</a>
{% endblock %}

{% block content %}
    {{ "ngmore.user.forgot_password.not_active.text"|trans }}

    <br>

    {{ "ngmore.user.account_information"|trans }}

    <br>

    {{ "ngmore.user.username"|trans }}: {{ user.login }}

    <br>

    {{ "ngmore.user.email"|trans }}: {{ user.email }}

    <br><br>

    <a href="{{ site_url }}">{{ site_name }}</a>
{% endblock %}
