<p>{{ "ngmore.user.mail.changed_password.title"|trans }}</p>

<p>
    {{ "ngmore.user.mail.changed_password.body"|trans }}
</p>

<p>{{ "ngmore.user.mail.account_information"|trans }}<br/>
    {{ "ngmore.user.mail.username"|trans }}: {{ user.login }}<br/>
    {{ "ngmore.user.mail.email"|trans }}: {{ user.email }}<br/>
</p>

<p><a href="{{ url( ezpublish.rootLocation ) }}">{{ url( ezpublish.rootLocation ) }}</a></p>