{% trans_default_domain "ngmore_user" %}

<h1><a href="{{ site_url }}" target="_blank">{{ site_name }}</a></h1>

<p>
    {{ "ngmore.user.forgotten_password.mail.user_disabled.text"|trans }}
</p>

<p>{{ "ngmore.user.mail.account_information"|trans }}<br/>
    {{ "ngmore.user.mail.username"|trans }}: {{ user.login }}<br/>
    {{ "ngmore.user.mail.email"|trans }}: {{ user.email }}<br/>
</p>
