<article class="view-type view-type-{{ viewType }} ng-article vl6">
	<h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
    <div class="info">
        {% if not content.fields.sponsored_content_disclosure.empty %}
            <span class="sponsored-tag">{{ content.fields.sponsored_content_disclosure.value.text }}</span>
        {% elseif not content.fields.main_topic.empty %}
            <a href="{{ path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
        {% endif %}
    </div>
</article>
