<div class="view-type view-type-{{ viewType }} file clearfix">

    <h2>{{ ez_field_value( content, 'name' ).text }}</h2>

    {% if not ez_is_field_empty( content, 'description' ) %}
        <div class="short">
            {{ ez_render_field( content, 'description' ) }}
        </div>
    {% endif %}

    <div class="file mime-type-{{ ez_field_value( content, 'file' ).mimeType|replace( { '/': '-' } ) }}">
        {{ ez_render_field( content, 'file' ) }}
    </div>

</div>
