{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-article media vl t2 clearfix">

    {{ content_fields.image( content, location, 'i320' ) }}

    <div class="info">
        <h2 class="title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

        {% if not ez_is_field_empty( content, 'line_intro' ) %}
            <div class="short">
                {{ ez_render_field( content, 'line_intro' ) }}
            </div>
        {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
            <div class="short">
                {{ ez_render_field( content, 'full_intro' ) }}
            </div>
        {% endif %}
    </div>
</div>
