{% set location_path = path( location ) %}

<div class="view-type view-type-{{ viewType }} ng-category media clearfix">

    <h2 class="title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    {% if not ez_is_field_empty( content, 'line_image' ) or not ez_is_field_empty( content, 'image' ) %}
        {% set image_field = not ez_is_field_empty( content, 'line_image' ) ? 'line_image' : 'image' %}

        {{ ez_render_field(
            content,
            image_field, {
                'parameters': {
                    'alias': 'i320',
                    'link_href': location_path,
                    'link_class': 'pull-left'
                }
            }
        ) }}
    {% endif %}

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="short">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="short">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

</div>
