<div class="view-type view-type-{{ viewType }} ng-feedback-form clearfix">

    <h2 class="att-title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

</div>
