{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-news media clearfix">

    {% if not ez_is_field_empty( content, 'headline' ) %}
        <h3 class="headline">{{ ez_render_field( content, 'headline' ) }}</h3>
    {% endif %}

    <h2 class="title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    {{ content_fields.image( content, location, 'i320' ) }}

    <div class="date">
        {{ ez_field_value( content, 'publish_date' ).value|date( 'j. n. Y.' ) }}
    </div>

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="short">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="short">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

</div>
