{% import 'NetgenMoreDemoBundle:parts:video.html.twig' as video %}

{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) or not ez_is_field_empty( content, 'video_identifier' ) %}
<div class="view-type view-type-{{ viewType }} ng-video clearfix">

    <h2 class="title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    <div class="image">
        {{ video.poster( content, location ) }}
    </div>

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="short">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
{% endif %}
