{% extends 'bootstrap_5_layout.html.twig' %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %} novalidate>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%- block form_row -%}
    {% if compound %}
        {{- form_widget(form, { ngparams: ngparams|default({}) }) -}}
    {% else %}
        <div class="form-group {{ form.parent.vars.name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
            {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
                {{- form_widget(form) -}}
                {{- form_label(form) -}}
                {{- form_errors(form) -}}
            {%- else -%}
                {{- form_label(form) -}}
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            {%- endif -%}
        </div>
    {% endif %}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block _ibexa_forms_create_user_user_account_row -%}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{%- endblock -%}

{%- block _ibexa_forms_create_user_user_account_widget -%}
    {% for identifier, child in form %}
        {% if identifier == 'password' %}
            {{ form_row(child.first, {attr: attr}) }}

            {{ form_row(child.second, {attr: attr}) }}
        {% else %}
            {{ form_row(child, {attr: attr}) }}
        {% endif %}
    {% endfor %}
{%- endblock -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}

{%- block textarea_row -%}
    <div class="form-group {{ form.parent.vars.name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
        {{- form_label(form) -}}
        {{ block('textarea_widget') }}
        {{- form_errors(form) -}}
    </div>
{%- endblock textarea_row -%}

{%- block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block email_row -%}
    <div class="form-group {{ form.parent.vars.name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
        {{- form_label(form) -}}
        {{ block('email_widget') }}
        {{- form_errors(form) -}}
    </div>
{%- endblock email_row -%}

{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    {{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{%- block text_row -%}
    {% if hidden is defined and hidden %}
        {{ block('form_widget_simple') }}
        {{- form_errors(form) -}}
    {% else %}
        <div class="form-group {{ form.parent.vars.name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock text_row -%}

{%- block form_widget_simple -%}
    {% if hidden is defined %}
        {% if hidden %}
            {%- set type = 'hidden' -%}
        {% endif %}
    {% endif %}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input class="form-control" type="{{ type }}"
        {{ block('widget_attributes') }}
        {% if value is not empty %}value="{{ value }}"{% endif %}
        {% if ngparams.autocomplete is defined %} autocomplete="{{ ngparams.autocomplete }}"{% endif %}
        {% if type != "hidden" %} aria-invalid="false" aria-errormessage="error-{{ form.vars.id }}"{% endif %}
    />
    {% if type != "hidden" %}
        {% set error_label = ngparams.label|default(form.vars.label) %}
        <span id="error-{{ form.vars.id }}" class="error-message">{{ 'ngsite.collected_info.form_errors.enter_valid_value'|trans }} {{ error_label }}</span>
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block hidden_row -%}
        {{ block('hidden_widget') }}
        {{- form_errors(form) -}}
{%- endblock hidden_row -%}

{%- block hidden_widget -%}
    {%- set type = type|default('hidden') -%}
    {{ block('form_widget_simple') }}
{%- endblock hidden_widget -%}

{% block file_row %}
    <div class="form-group file-group {{ form.parent.parent.vars|default(form.parent.vars).name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
        <label class="form-label{% if required %} required{% endif %}" for={{ id }}>{{ ngparams.label|default(label|trans(label_translation_parameters, translation_domain)|default('File'))|raw }}
            {% if required %}
                <span aria-hidden="true">*</span>
                <span class="sr-only">{{ 'ngsite.collected_info.mandatory_field'|trans }}</span>
            {% endif %}
        </label>
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>

    {% if form.parent.children.remove is defined %}
        {% do form.parent.children.remove.setRendered() %}
    {% endif %}
{% endblock %}

{# Custom file upload widget, commented out intentionaly. Override default UI file input if needed. Remove file_row block above #}
{# {%- block file_row -%}
    <div class="form-group file-group {{ form.parent.parent.vars|default(form.parent.vars).name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
        {{- form_label(form) -}}
        {{ block('file_widget') }}
        {{- form_errors(form) -}}
    </div>
{%- endblock file_row -%}

{% block file_widget -%}
    {%- set type = type|default('file') -%}
    {%- set label_translated_text = label_translated|default('') -%}
    <label class="custom-file-label btn btn-sm btn-default btn-icon-right" for={{ id }}>
        {{ label_translated_text }}
        {{ block('form_widget_simple') }}
    </label>

    {% if form.parent.children.remove is defined %}
        {% do form.parent.children.remove.setRendered() %}
    {% endif %}
{% endblock %} #}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{%- block checkbox_widget -%}
    {%- set label_checkbox = label|default('') -%}
    <input type="checkbox" class="form-check-input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label class="form-label" for={{ id }} aria-invalid="false"
        aria-errormessage="error-{{ form.vars.id }}" />
        {{ ngparams.label|default(label_checkbox)|raw }}
    </label>
    <span id="error-{{ form.vars.id }}" class="error-message">{{ form.vars.label }} {{ 'ngsite.collected_info.form_errors.not_checked'|trans }}</span>
{%- endblock checkbox_widget %}

{%- block checkbox_row -%}
    <div class="form-group form-check {{ form.parent.vars.name|replace({'_': '-'}) }}{% if errors|length > 0 %} error-input{% endif %}">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row -%}

{% block honeypot_row %}
    {{ form_row(form.value, {required: false, attr: {tabindex: -1}}) }}
{% endblock %}

{%- block form_rows -%}
    {% for child in form|filter(child => not child.rendered) %}
        {{- form_row(child, { ngparams: ngparams }) -}}
    {% endfor %}
{%- endblock form_rows -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- if 'col-form-label' not in parent_label_class -%}
                {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label' )|trim}) -%}
            {%- endif -%}
        {%- else -%}
            {%- set row_class = row_class|default(row_attr.class|default('')) -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
            {%- if 'col-form-label' not in parent_label_class -%}
                {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ('input-group' in row_class ? ' input-group-text' : ' form-label') )|trim}) -%}
            {%- endif -%}
        {%- endif -%}

        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {%- if translation_domain is same as(false) -%}
                {%- if label_html is same as(false) -%}
                    {{- label -}}
                {%- else -%}
                    {{- label|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if label_html is same as(false) -%}
                    {{- label|trans(label_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}

            {% if required %}
                <span aria-hidden="true">*</span>
                <span class="sr-only">{{ 'ngsite.collected_info.mandatory_field'|trans }}</span>
            {% endif %}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}


{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}

        {{ widget|raw }}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if label is not same as(false) -%}
                {%- if translation_domain is same as(false) -%}
                    {%- if label_html is same as(false) -%}
                        {{- label -}}
                    {%- else -%}
                        {{- label|raw -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if label_html is same as(false) -%}
                        {{- label|trans(label_translation_parameters, translation_domain) -}}
                    {%- else -%}
                        {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
                    {%- endif -%}
                {%- endif -%}

                {% if required %}
                    <span aria-hidden="true">*</span>
                    <span class="sr-only">{{ 'ngsite.collected_info.mandatory_field'|trans }}</span>
                {% endif %}

            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}