{% set site_info = ngmore.siteInfoContent %}

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <h2>{{ 'ngmore.layout.additional_menu.title'|trans }}</h2>

                {% block page_additional_menu %}
                    {{ render_esi(
                        controller(
                            'ngmore.controller.page_layout:menu', {
                                menuName: 'ngmore_additional_menu',
                                activeItemId: main_category_location_id is defined ? main_category_location_id : 0
                            }
                        )
                    ) }}
                {% endblock %}
            </div>

            <div class="col-md-7">
                {% if not ez_is_field_empty( site_info, 'footer_block' ) %}
                    <div>
                        {{ ez_render_field( site_info, 'footer_block' ) }}
                    </div>
                {% endif %}

                <address>
                    {{ 'ngmore.layout.powered_by'|trans }} <a href="http://www.netgenlabs.com/What-we-do">Netgen &amp; eZ Platform</a>
                </address>
            </div>

            <div class="col-md-3">
                <h2>{{ 'ngmore.layout.follow_us.title'|trans }}</h2>

                <ul>
                    {% if not ez_is_field_empty( site_info, 'facebook' ) %}
                        <li><a href="{{ ez_field_value( site_info, 'facebook' ).link }}">Facebook</a></li>
                    {% endif %}

                    {% if not ez_is_field_empty( site_info, 'twitter' ) %}
                        <li><a href="{{ ez_field_value( site_info, 'twitter' ).link }}">Twitter</a></li>
                    {% endif %}

                    {% if not ez_is_field_empty( site_info, 'instagram' ) %}
                        <li><a href="{{ ez_field_value( site_info, 'instagram' ).link }}">Instagram</a></li>
                    {% endif %}

                    {% if not ez_is_field_empty( site_info, 'gplus' ) %}
                        <li><a href="{{ ez_field_value( site_info, 'gplus' ).link }}">Google+</a></li>
                    {% endif %}

                    {% if not ez_is_field_empty( site_info, 'linkedin' ) %}
                        <li><a href="{{ ez_field_value( site_info, 'linkedin' ).link }}">LinkedIn</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</footer>
