{% set site_info = ngmore.siteInfoContent %}

<footer>
    <div class="container">
        <div class="footer-cell footer-menu">
            <h3>{{ 'ngmore.layout.additional_menu.title'|trans }}</h3>

            {% block page_additional_menu %}
                {{ render_esi(
                    controller(
                        'ngmore.controller.page_layout:menu', {
                            menuName: 'ngmore_additional_menu',
                            activeItemId: main_category_location_id is defined ? main_category_location_id : 0
                        }
                    )
                ) }}
            {% endblock %}
        </div>

        <div class="footer-cell footer-info">
            {% if not ez_is_field_empty( site_info, 'footer_block' ) %}
                <div>
                    {{ ez_render_field( site_info, 'footer_block' ) }}
                </div>
            {% endif %}

            <address>
                {{ 'ngmore.layout.powered_by'|trans }} <a href="http://www.netgenlabs.com/What-we-do">Netgen &amp; eZ Platform</a>
            </address>
        </div>

        <div class="footer-cell footer-social">
            <h3>{{ 'ngmore.layout.follow_us.title'|trans }}</h3>

            <ul>
                {% if not ez_is_field_empty( site_info, 'facebook' ) %}
                    <li><a href="{{ ez_field_value( site_info, 'facebook' ).link }}"><i class="fa fa-facebook"></i><span class="tt">Facebook</span></a></li>
                {% endif %}

                {% if not ez_is_field_empty( site_info, 'twitter' ) %}
                    <li><a href="{{ ez_field_value( site_info, 'twitter' ).link }}"><i class="fa fa-twitter"></i><span class="tt">Twitter</span></a></li>
                {% endif %}

                {% if not ez_is_field_empty( site_info, 'instagram' ) %}
                    <li><a href="{{ ez_field_value( site_info, 'instagram' ).link }}"><i class="fa fa-instagram"></i><span class="tt">Instagram</span></a></li>
                {% endif %}

                {% if not ez_is_field_empty( site_info, 'gplus' ) %}
                    <li><a href="{{ ez_field_value( site_info, 'gplus' ).link }}"><i class="fa fa-google-plus"></i><span class="tt">Google+</span></a></li>
                {% endif %}

                {% if not ez_is_field_empty( site_info, 'linkedin' ) %}
                    <li><a href="{{ ez_field_value( site_info, 'linkedin' ).link }}"><i class="fa fa-linkedin"></i><span class="tt">LinkedIn</span></a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</footer>
