{% extends 'NetgenMoreDemoBundle::pagelayout_variables.html.twig' %}

{% block pagelayout_content %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace( { '_': '-' } ) }}">
<head>
    <meta charset="utf-8">

    {% block page_head %}
        {% include 'NetgenMoreDemoBundle::page_head.html.twig' %}
    {% endblock %}

    {% block page_head_style %}
        {% include 'NetgenMoreDemoBundle::page_head_style.html.twig' %}
    {% endblock %}

    {% block page_head_script %}
        {% include 'NetgenMoreDemoBundle::page_head_script.html.twig' %}
    {% endblock %}

    {% block open_graph %}
        {% include 'NetgenMoreBundle:parts:opengraph.html.twig' %}
    {% endblock %}

    {% include 'NetgenMoreBundle:parts:jwplayer.html.twig' %}

    {% include 'NetgenMoreBundle:parts:google_tag_manager_code.html.twig' %}
</head>
<body>

{% include 'NetgenMoreBundle:parts:facebook_api.html.twig' %}

<div id="page">

    {% block page_header %}
        {% include 'NetgenMoreDemoBundle::page_header.html.twig' %}
    {% endblock %}

    {% block page_path %}
        {% include 'NetgenMoreDemoBundle::page_path.html.twig' %}
    {% endblock %}

    {% block region_top %}
        {% if _placeholder_top_top is not empty %}
            <div class="placeholder placeholder-top-top">{{ _placeholder_top_top|raw }}</div>
        {% endif %}

        {% if not disable_top_region %}
            {{ render_esi( controller( 'ngmore.controller.page_layout:region', { 'layoutId': layout.id, 'region': 'top' } ) ) }}
        {% endif %}

        {% if _placeholder_top_bottom is not empty %}
            <div class="placeholder placeholder-top-bottom">{{ _placeholder_top_bottom|raw }}</div>
        {% endif %}
    {% endblock %}

    {% if not disable_containers %}<div class="container"><div class="row">{% endif %}

    {% if not disable_containers and left_column_available %}<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{% endif %}

    {% block region_left %}
        {% if _placeholder_left_top is not empty %}
            <div class="placeholder placeholder-left-top">{{ _placeholder_left_top|raw }}</div>
        {% endif %}

        {% if not disable_left_region %}
            {{ render_esi( controller( 'ngmore.controller.page_layout:region', { 'layoutId': layout.id, 'region': 'left' } ) ) }}
        {% endif %}

        {% if _placeholder_left_bottom is not empty %}
            <div class="placeholder placeholder-left-bottom">{{ _placeholder_left_bottom|raw }}</div>
        {% endif %}
    {% endblock %}

    {% if not disable_containers and left_column_available %}</div>{% endif %}

    {% if not disable_containers %}
        {% if left_column_available and right_column_available %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {% elseif left_column_available or right_column_available %}
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        {% else %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% endif %}
    {% endif %}

    <div id="main" class="clearfix">
        {% block content %}{% endblock %}
    </div>

    {% if not disable_containers %}</div>{% endif %}

    {% if not disable_containers and right_column_available %}<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{% endif %}

    {% block region_right %}
        {% if _placeholder_right_top is not empty %}
            <div class="placeholder placeholder-right-top">{{ _placeholder_right_top|raw }}</div>
        {% endif %}

        {% if not disable_right_region %}
            {{ render_esi( controller( 'ngmore.controller.page_layout:region', { 'layoutId': layout.id, 'region': 'right' } ) ) }}
        {% endif %}

        {% if _placeholder_right_bottom is not empty %}
            <div class="placeholder placeholder-right-bottom">{{ _placeholder_right_bottom|raw }}</div>
        {% endif %}
    {% endblock %}

    {% if not disable_containers and right_column_available %}</div>{% endif %}

    {% if not disable_containers %}</div></div>{% endif %}

    {% block region_bottom %}
        {% if _placeholder_bottom_top is not empty %}
            <div class="placeholder placeholder-bottom-top">{{ _placeholder_bottom_top|raw }}</div>
        {% endif %}

        {% if not disable_bottom_region %}
            {{ render_esi( controller( 'ngmore.controller.page_layout:region', { 'layoutId': layout.id, 'region': 'bottom' } ) ) }}
        {% endif %}

        {% if _placeholder_bottom_bottom is not empty %}
            <div class="placeholder placeholder-bottom-bottom">{{ _placeholder_bottom_bottom|raw }}</div>
        {% endif %}
    {% endblock %}

    {% block page_footer %}
        {% include 'NetgenMoreDemoBundle::page_footer.html.twig' %}
    {% endblock %}

</div>

{% block page_footer_script %}
    {% include 'NetgenMoreDemoBundle::page_footer_script.html.twig' %}
{% endblock %}

</body>
</html>
{% endblock %}
