{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} ng-recipe vl6">
	<h2 class="title"><a href="{{ path(location) }}">{{ content_fields.title(content) }}</a></h2>
    <div class="info">
        {% if not content.fields.authors.empty %}
            {% for author in content.fieldRelations('authors') %}
                <a href="{{ path(author) }}" class="article-author">{{ author.name }}</a>
            {% endfor %}
        {% endif %}
        {% if not content.fields.sponsored_content_disclosure.empty %}
            <span class="sponsored-tag">{{ 'ngsite.layout.sponsored'|trans }}</span>
        {% elseif not content.fields.main_topic.empty %}
            <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
        {% endif %}
        <span class="recipe-details">
            {% if not content.fields.preparation_time.empty %}
                <span><i class="far fa-clock"></i> {{ ng_render_field(content.fields.preparation_time) }} {{ 'ngsite.layout.recipe.min'|trans }}</span>
            {% endif %}
            {% if not content.fields.serving_calories.empty %}
                <span><i class="fas fa-fire"></i> {{ ng_render_field(content.fields.serving_calories) }} {{ 'ngsite.layout.recipe.cal'|trans }}</span>
            {% endif %}
        </span>
    </div>
</article>
