{% extends ngbm.layoutTemplate %}

{% if not content.fields.line_intro.empty %}
    {% set meta_data = {'description': content.fields.line_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% elseif not content.fields.full_intro.empty %}
    {% set meta_data = {'description': content.fields.full_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% block content %}
<div class="view-type view-type-{{ viewType }} ng-category {{ content.fields.css_class.value.text|trim }} clearfix">
    <h1 class="page-header">{{ ng_render_field(content.fields.title) }}</h1>

    {% if not content.fields.full_intro.empty %}
        <div class="intro">
            {{ ng_render_field(content.fields.full_intro) }}
        </div>
    {% endif %}

    {% if not content.fields.body.empty %}
        <div class="body">
            {{ ng_render_field(content.fields.body) }}
        </div>
    {% endif %}

    <div class="featured-content">
        {{ render(
            controller(
                'ngmore.controller.parts:viewRelatedItems', {
                    'contentId': content.id,
                    'fieldDefinitionIdentifier': 'featured_content',
                    'template': '@ezdesign/parts/related_items.html.twig'
                }
            )
        ) }}
    </div>

    {% if content.fields.show_children.value.bool %}
        <div class="children">
            {% if pager|length > 0 %}
                {% set list_output_type_empty = content.fields.list_output_type.empty %}
                {% set list_output_type_value = content.fields.list_output_type.value %}

                {% if list_output_type_empty or list_output_type_value.identifiers[0] == 'list_view' %}
                    {% for pager_item in pager %}
                        {{ render(
                            controller(
                                'ng_content:viewAction', {
                                    'content': pager_item.content,
                                    'location': pager_item,
                                    'viewType': 'line'
                                }
                            )
                        ) }}
                    {% endfor %}
                {% elseif not list_output_type_empty and list_output_type_value.identifiers[0] == 'grid_view' %}
                    <div class="row">
                        {% for pager_item in pager %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                {{ render(
                                    controller(
                                        'ng_content:viewAction', {
                                            'content': pager_item.content,
                                            'location': pager_item,
                                            'viewType': 'standard'
                                        }
                                    )
                                ) }}
                            </div>
                        {% endfor %}
                    </div>
                {% elseif not list_output_type_empty and list_output_type_value.identifiers[0] == 'listitem_view' %}
                    <ul>
                        {% for pager_item in pager %}
                            <li>
                                {{ render(
                                    controller(
                                        'ng_content:viewAction', {
                                            'content': pager_item.content,
                                            'location': pager_item,
                                            'viewType': 'listitem'
                                        }
                                    )
                                ) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>

        {% if pager.haveToPaginate() %}
            {{ pagerfanta(pager, 'ngmore') }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
