{% extends ngbm.layoutTemplate %}

{% import '@ezdesign/parts/video.html.twig' as video %}

{% if not content.fields.line_intro.empty %}
    {% set meta_data = {'description': content.fields.line_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% block content %}
    <div class="view-type view-type-{{ viewType }} ng-video clearfix">

        <h1 class="page-header">{{ ng_render_field(content.fields.title) }}</h1>

        {{ video.player(content, true) }}

        {% if not content.fields.line_intro.empty %}
            <div class="short">
                {{ ng_render_field(content.fields.line_intro) }}
            </div>
        {% endif %}

        {% if not content.fields.description.empty %}
            <div class="body">
                {{ ng_render_field(content.fields.description) }}
            </div>
        {% endif %}

    </div>
{% endblock %}
