{% extends '@ngbm/block/block.html.twig' %}

{% import '@NetgenBlockManager/parts/macros.html.twig' as macros %}

{% set tag = block.parameter('tag').value|default('h1') %}
{% set link = block.parameter('link') %}

{% set icon_css_class = block.hasParameter('title_icon:css_class') ? block.parameter('title_icon:css_class').value : null %}
{% set use_icon = block.hasParameter('title_icon:enabled') and block.parameter('title_icon:enabled').value is same as(true) %}
{% set use_icon = use_icon and icon_css_class is not empty %}

{% block content %}
    {# Located inside the "content" block to include the context from the parent template #}
    {% set title = macros.inline_template(block.parameter('title').value, _context) %}

    <{{ tag }} class="title">
        {% if use_icon %}
            <div class="title-icon"><i class="{{ icon_css_class }}"></i></div>
        {% endif %}

        {% if block.parameter('use_link').value and not link.empty %}
            {{ ngbm_render_parameter(link, {content: title}) }}
        {% else %}
            {{ title }}
        {% endif %}
    </{{ tag }}>
{% endblock %}
