{% set location_path = path( location ) %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-blog-post">

        {% if not ez_is_field_empty( content, 'line_image' ) or not ez_is_field_empty( content, 'image' ) %}
            {% set image_field = not ez_is_field_empty( content, 'line_image' ) ? 'line_image' : 'image' %}

            <div class="att-image">
                {{ ez_render_field(
                    content,
                    image_field, {
                        'parameters': {
                            'alias': 'i320',
                            'link_href': location_path
                        }
                    }
                ) }}
            </div>
        {% endif %}

        <div class="att-publish-date">
            {{ ez_field_value( content, 'publish_date' ).value|date( 'j. n. Y.' ) }}
        </div>

        <div class="att-author">
            {% if not ez_is_field_empty( content, 'author_override' ) %}
                {{ ez_render_field( content, 'author_override' ) }}
            {% else %}
                {{ ez_content_name( ngmore_owner( content ) ) }}
            {% endif %}
        </div>

        <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

    </div>
{% endblock %}
