<div class="social-share-wrapper">
    <div class="social-share static-social-buttons">
        <ul class="social">
            <li>
                <a class="static-social-button" target="_blank" rel="nofollow" class="button tw" href="https://twitter.com/intent/tweet?url={{app.request.uri}}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li>
                <a class="static-social-button" rel="nofollow" class="button li" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{app.request.uri}}&amp;title={{ content.fields.title.value }}">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a class="static-social-button" rel="nofollow" class="button fb" href="https://www.facebook.com/sharer.php?u={{app.request.uri}}&amp;t={{ content.fields.title.value }}">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
