{% extends ngbm.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block pre_content %}
    <header class="full-page-header full-form-header">
        <div class="container">
            <h1 class="full-page-title">{{ "ngsite.user.forgot_password.title"|trans }}</h1>
            <div class="full-page-intro">
                <p>{{ "ngsite.user.forgot_password.text"|trans }}</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="full-form-content">
        {{ form_start(form) }}

        <fieldset>
            <div class="form-group">
                {{ form_row(form.email, {'label': 'ngsite.user.forgot_password.email.label', 'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary">{{ 'ngsite.user.forgot_password.submit'|trans }}</button>
        </fieldset>

        {{ form_end(form) }}
    </div>
{% endblock %}
