{% extends ngbm.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngsite.user.reset_password.title'|trans }}</h1>
    </div>

    <p>{{ "ngsite.user.reset_password.text"|trans }}</p>

    {{ form_start(form) }}

    <fieldset>
        <div class="form-group">
            {{ form_row(form.password.first, {'label': 'ngsite.user.reset_password.first.label', 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.password.second, {'label': 'ngsite.user.reset_password.second.label', 'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ 'ngsite.user.reset_password.submit'|trans }}</button>
    </fieldset>

    {{ form_end(form) }}
{% endblock %}
