{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} ng-article vl1">

    {{ content_fields.image(content, location) }}

    <header class="article-header">
        <h2 class="title"><a href="{{ path(location) }}">{{ content_fields.title(content) }}</a></h2>
        <div class="info">
            {% if not content.fields.authors.empty %}
                {% for author in content.fieldRelations('authors') %}
                    <a href="{{ path(author) }}" class="article-author">{{ author.name }}</a>
                {% endfor %}
            {% endif %}
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <span class="sponsored-tag">{{ 'ngsite.layout.sponsored'|trans }}</span>
            {% elseif not content.fields.main_topic.empty %}
                <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
            {% endif %}
        </div>
    </header>
    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
