{% set notification_category = null %}

{% if location is defined %}
    {% set notification_category = ngnotifications_category(location) %}
{% endif %}

<div class="page-floating-widgets">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and notification_category is not null %}
        <div class="subscription-widget">
            <a class="subscriptions-widget-toggle" data-bs-toggle="modal" data-bs-target="#subscriptionModal" href="javascript:;">
                <div class="subscription-icon"></div>
                {{ 'ngsite.widget.subscriptions'|trans }}
            </a>
        </div>
    {% endif %}

    <a class="print-icon js-print-icon" aria-label="Print" href="javascript:;" onclick="window.print();">
        <i class="fas fa-print"></i>
    </a>

    {% if location is defined and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if location.contentInfo.contentType.identifier in ibexa.configResolver.parameter('bookmarks.content_types', 'ngsite') %}
            {% set is_bookmarked = ngsite_bookmark(location) is not null %}

            <a class="print-icon bookmark-widget js-bookmark-widget"
               href="javascript:;"
               data-is-bookmarked="{{ is_bookmarked ? 'true' : 'false' }}"
               data-create-bookmark-endpoint="{{ path('ngsite_api_bookmarks_create', { locationId: location.id }) }}"
               data-delete-bookmark-endpoint="{{ path('ngsite_api_bookmarks_delete', { locationId: location.id }) }}"
            >
                <i class="{{ is_bookmarked ? 'fas' : 'far' }} fa-bookmark"></i>
                <span class="bookmark-tooltip"></span>
            </a>
        {% endif %}
    {% endif %}
</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and notification_category is not null %}
    <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscription-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="subscription-modal-body">
                    {% include '@NetgenNotifications/subscription/widget/widget.html.twig' with {
                        category: notification_category.identifier,
                        parameters: { contentId: content.id, locationId: location.id }
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
