{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}

<article class="view-type view-type-{{ view_type }} ng-banner vl9">

    {% if not content.fields.image.empty %}
        <figure class="image">
            {{ macros.image_link(content, 'image', 'i480') }}
        </figure>
    {% endif %}

    <div class="article-content">
        <header class="article-header">
            {% if not content.fields.eyebrow_title.empty %}
                <span class="eyebrow-title">{{ content.fields.eyebrow_title.value.text }}</span>
            {% endif %}
            </span>
            <h2 class="title">
                {{ macros.content_link(content, content.fields.title.value.text) }}
            </h2>
        </header>
        <div class="short">
            {{ ng_render_field(content.fields.short_description) }}
        </div>
        <a class="btn btn-outline" href="#">Find out more</a>
    </div>

</article>
