{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
<div class="view-type view-type-{{ viewType }} ng-banner vl clearfix">

    {% if not ez_is_field_empty( content, 'image' ) %}
        <div class="image">
            {{ ez_render_field(
                content,
                'image', {
                    'parameters': {
                        'alias': 'i480',
                        'link_href': url,
                        'link_target': open_in_new_window ? '_blank' : ''
                    }
                }
            ) }}
        </div>
    {% endif %}
    <div class="info">
	    <h2 class="title"><a href="{{ url }}" {% if open_in_new_window %} target="_blank" {% endif %}>{{ ez_render_field( content, 'title' ) }}</a></h2>
        <div class="short">
            {{ ez_render_field( content, 'short_description' ) }}
        </div>
	</div>
</div>
{% endblock %}
