{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/parts/content_field_macros.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} {{ content.contentInfo.contentTypeIdentifier|replace({'_': '-'}) }} vl8">

    <h3 class="title collapsed" data-toggle="collapse" data-target="#collapse-{{ location.id }}" aria-expanded="true" aria-controls="collapse-{{ location.id }}">
        {{ content_fields.title(content) }}
    </h3>

    <div id="collapse-{{ location.id }}" class="collapse" aria-labelledby="heading-{{ location.id }}" data-parent=".list-accordion">
        <div class="short">
            {{ content_fields.intro(content) }}
        </div>
    </div>

</article>
