{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% if not ez_is_field_empty( content, 'line_intro' ) %}
    {% set meta_data = { 'description': ez_field_value( content, 'line_intro' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% elseif not ez_is_field_empty( content, 'full_intro' ) %}
    {% set meta_data = { 'description': ez_field_value( content, 'full_intro' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% endif %}

{% block content %}
<div class="content-view-full ng-category {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">
    <h1 class="att-title page-header">{{ ez_render_field( content, 'title' ) }}</h1>

    {% if not ez_is_field_empty( content, 'image' ) %}
        <div class="att-image">
            {{ ez_render_field( content, 'image', { 'parameters': { 'alias': 'i1140' } } ) }}
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="att-full-intro">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'body' ) %}
        <div class="att-body">
            {{ ez_render_field( content, 'body' ) }}
        </div>
    {% endif %}

    <div class="att-featured-content">
        {{ render(
            controller(
                'ngmore.controller.parts:viewRelatedItems', {
                    'contentId': content.id,
                    'fieldDefinitionIdentifier': 'featured_content',
                    'template': 'NetgenMoreDemoBundle:parts:related_items.html.twig'
                }
            )
        ) }}
    </div>

    {% if ez_field_value( content, 'show_children' ).bool %}
        <div class="content-view-children">
            {% if pager|length > 0 %}
                {% set list_output_type_empty = ez_is_field_empty( content, 'list_output_type' ) %}
                {% set list_output_type_value = ez_field_value( content, 'list_output_type' ) %}

                {% if list_output_type_empty or list_output_type_value.identifiers[0] == 'list_view' %}
                    {% for pager_item in pager %}
                        {{ render(
                            controller(
                                'ez_content:viewLocation', {
                                    'locationId': pager_item.id,
                                    'viewType': 'line'
                                }
                            )
                        ) }}
                    {% endfor %}
                {% elseif not list_output_type_empty and list_output_type_value.identifiers[0] == 'grid_view' %}
                    <div class="row">
                        {% for pager_item in pager %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                {{ render(
                                    controller(
                                        'ez_content:viewLocation', {
                                            'locationId': pager_item.id,
                                            'viewType': 'block_item',
                                            'params': {
                                                'alias_name': 'i480'
                                            }
                                        }
                                    )
                                ) }}
                            </div>
                            {% if loop.index0 % 2 == 1 %}<div class="clearfix visible-sm"></div>{% endif %}
                            {% if loop.index0 % 3 == 2 %}<div class="clearfix visible-md"></div>{% endif %}
                            {% if loop.index0 % 4 == 3 %}<div class="clearfix visible-lg"></div>{% endif %}
                        {% endfor %}
                    </div>
                {% elseif not list_output_type_empty and list_output_type_value.identifiers[0] == 'listitem_view' %}
                    <ul>
                        {% for pager_item in pager %}
                            <li>
                                {{ render(
                                    controller(
                                        'ez_content:viewLocation', {
                                            'locationId': pager_item.id,
                                            'viewType': 'listitem'
                                        }
                                    )
                                ) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>

        {% if pager.haveToPaginate() %}
            {{ pagerfanta( pager, 'ngmore' ) }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
