{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/content_fields.html.twig' as content_fields %}
{% import '@ibexadesign/content/macros/video.html.twig' as video %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

{% if not content.fields.video_file.empty or not content.fields.video_identifier.empty %}
    <article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-video vl5">
        <figure class="image">
            <i class="icon-play article-icon" aria-hidden="true"></i>
            {{ video.poster(content, location, null, 'ratio-1x1') }}
        </figure>

        <header class="article-header">
            <h3 class="title"><a href="{{ ibexa_path(location) }}">{{ content_fields.title(content) }}</a></h3>
        </header>
    </article>
{% endif %}
