{% import '@ezdesign/parts/video.html.twig' as video %}

{% if not content.fields.video_file.empty or not content.fields.video_file_hd.empty or not content.fields.video_identifier.empty %}
    <div class="view-type view-type-{{ view_type }} ng-video vl video-icon clearfix">
        <div class="image">
            {{ video.poster(content, location) }}
        </div>

        <div class="info">
            <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
            {% if content.hasField('teaser_intro') and not content.fields.teaser_intro.empty %}
	            <div class="short">
	                {{ ng_render_field(content.fields.teaser_intro) }}
	            </div>
	        {% endif %}
        </div>
    </div>
{% endif %}
