{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}
{% import '@ezdesign/parts/video.html.twig' as video %}

{% set location_path = path(location) %}

{% if not content.fields.video_file.empty or not content.fields.video_file_hd.empty or not content.fields.video_identifier.empty %}
    <article class="view-type view-type-{{ view_type }} ng-video vl5">
        <figure class="image">
            <i class="fas fa-play article-icon" aria-hidden="true"></i>
            {{ video.poster(content, location) }}
        </figure>

        <header class="article-header">
            <h2 class="title"><a href="{{ location_path }}">{{ content_fields.title(content) }}</a></h2>
            <div class="info">
                {% if not content.fields.sponsored_content_disclosure.empty %}
                    <span class="sponsored-tag">{{ 'ngsite.layout.sponsored'|trans }}</span>
                {% elseif not content.fields.main_topic.empty %}
                    <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
                {% endif %}
            </div>
        </header>
    </article>
{% endif %}
