{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} {{ content.contentInfo.contentTypeIdentifier|replace({'_': '-'}) }} vl6">
	<h2 class="title"><a href="{{ path(location) }}">{{ content_fields.title(content) }}</a></h2>
    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
