{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set poster_image = content_fields.background_poster(content, 'image', 'i480') %}

<article class="view-type view-type-{{ viewType }} ng-article vl2">
    <a href="{{ path(location) }}" class="article-link">
        {% if poster_image is not empty %}
            <figure class="image" style="background-image:url({{ poster_image }});"></figure>
        {% endif %}

        <header class="article-header">
            <h2 class="title">{{ ng_render_field(content.fields.title) }}</h2>
            <div class="info">
                {% if not content.fields.sponsored_content_disclosure.empty %}
                    <span class="sponsored-tag">{{ content.fields.sponsored_content_disclosure.value.text }}</span>
                {% elseif not content.fields.main_topic.empty %}
                    <span>{{ content.fields.main_topic.value.tags[0].keyword }}</span>
                {% endif %}
            </div>
        </header>
    </a>
</article>
