{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set poster_image = content_fields.background_poster(content, 'image', 'i480') %}

<article class="view-type view-type-{{ viewType }} ng-blog-post vl2">
    <a href="{{ path(location) }}" class="article-link">
        {% if poster_image is not empty %}
            <figure class="image" style="background-image:url({{ poster_image }});"></figure>
        {% endif %}

        <header class="article-header">
            <h2 class="title">{{ ng_render_field(content.fields.title) }}</h2>
            <div class="info">
                <span class="article-author">
                    {% if not content.fields.author_override.empty %}
                        {{ ng_render_field(content.fields.author_override) }}
                    {% else %}
                        {{ content.owner.name }}
                    {% endif %}
                </span>
                <time>{{ content.fields.publish_date.value.value|date('j M Y') }}</time>
                {% if not content.fields.main_topic.empty %}
                    <span>{{ content.fields.main_topic.value.tags[0].keyword }}</span>
                {% endif %}
            </div>
        </header>
    </a>
</article>
