{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set children = location.filterChildren(['image'], 1).currentPageResults %}

<article class="view-type view-type-{{ viewType }} ng-article vl2">
    <i class="fas fa-camera article-icon" aria-hidden="true"></i>
    {% if children is not empty %}
        {% set first_image = children[0].content %}

        <a href="{{ path(location) }}" class="image-16by9">
            <figure class="image">
                {{ ng_render_field(
                    first_image.fields.image, {
                        parameters: {
                            alias: 'i480',
                            alt_text: first_image.fields.name.value,
                        }
                    }
                ) }}
            </figure>
        </a>
    {% endif %}

    <header class="article-header">
        <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
        <div class="info">
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <span class="sponsored-tag">{{ 'ngmore.layout.sponsored'|trans }}</span>
            {% elseif not content.fields.main_topic.empty %}
                <a href="{{ ngmore_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
            {% endif %}
        </div>
    </header>
</article>
