{% import '@ezdesign/parts/video.html.twig' as video %}

{% if not content.fields.video_file.empty or not content.fields.video_file_hd.empty or not content.fields.video_identifier.empty %}
    <article class="view-type view-type-{{ viewType }} ng-video vl2">
        <i class="fas fa-play article-icon" aria-hidden="true"></i>
        <figure class="image">
            {{ video.poster(content, location) }}
        </figure>

        <header class="article-header">
            <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
            <div class="info">
                {% if not content.fields.sponsored_content_disclosure.empty %}
                    <span class="sponsored-tag">{{ content.fields.sponsored_content_disclosure.value.text }}</span>
                {% elseif not content.fields.main_topic.empty %}
                    <span>{{ content.fields.main_topic.value.tags[0].keyword }}</span>
                {% endif %}
            </div>
        </header>
    </article>
{% endif %}
