{% trans_default_domain 'backoffice' %}

{% set user_initials = ibexa_field_value(app.user.APIUser, 'first_name').text[0:1] ~ ibexa_field_value(app.user.APIUser, 'last_name').text[0:1] %}

{% set site_name = ngsite.siteInfoContent.fields.site_name.value.text|trim %}

<div class="sidebar-wrapper">
    <a class="sidebar-wrapper__logo" href="{{ ibexa_path(ibexa.rootLocation) }}" title="{{ site_name }}">
        {{ site_name }}
    </a>

    <div class="sidebar-menu">
        {{ knp_menu_render(
            knp_menu_get('app.backoffice.main_menu'), {
                'branch_class': 'has-submenu',
                'template': 'backoffice/menu/knp_menu.html.twig'
            }
        ) }}
    </div>

    <div class="sidebar-bottom">
        <ul>
            <li>
                <div>
                    <i class="icon-report"></i>
                    <a href="mailto:info@netgen.io">{{ 'layout.report_an_issue'|trans }}</a>
                </div>
            </li>
            <li class="user-settings-menu-wrap">
                <div class="user-settings" id="myAccountToggle">
                    {% if not ibexa_field_is_empty(app.user.APIUser, 'image') %}
                        <img class="avatar" src="{{ asset(ibexa_image_alias(app.user.APIUser.field('image'), app.user.APIUser.versionInfo, 'i160').uri) }}" alt="">
                    {% else %}
                        <i><span>{{ user_initials }}</span></i>
                    {% endif %}
                    <div>
                        {{ app.user.APIUser.name }}
                    </div>
                </div>
            </li>
        </ul>

        <div class="user-settings-menu" id="myAccountMenu">
            <div class="user-settings-menu__header">
                {% if not ibexa_field_is_empty(app.user.APIUser, 'image') %}
                    <img class="avatar" src="{{ asset(ibexa_image_alias(app.user.APIUser.field('image'), app.user.APIUser.versionInfo, 'i160').uri) }}" alt="">
                {% else %}
                    <span class="user-icon"></span>
                {% endif %}
                <h6>{{ app.user.APIUser.name }}</h6>
            </div>
            <div class="user-settings-menu__body">
                <ul>
                    <li><a href="{{ path('backoffice_my_account_personal_details') }}">{{ 'menu.main_menu.personal_details'|trans }}</a></li>
                    <li><a href="{{ path('backoffice_my_account_user_credentials') }}">{{ 'menu.main_menu.user_credentials'|trans }}</a></li>
                </ul>
            </div>
            <div class="user-settings-menu__footer">
                <a href="{{ logout_path() }}">{{ 'menu.main_menu.logout'|trans }}</a>
            </div>
        </div>
    </div>

    <button id="toggleSidebar" class="sidebar-toggle">
        <i class="fas fa-chevron-left"></i>
    </button>
</div>
