{% import "@ezdesign/parts/video.html.twig" as video %}

{% if not content.fields.video_file.empty or not content.fields.video_file_hd.empty or not content.fields.video_identifier.empty %}
    <div class="view-type view-type-{{ view_type }} ng-video vl3  {% if show_details_on_hover %}show_details_on_hover{% endif %}">
        {% if image_type == 'main' %}
            {{ video.poster_slide(content, true) }}

            {% if show_details %}
                <div class="info">
                    <h2 class="title">
                        <a href={{ path(location) }}>
                            <i class="fas fa-play-circle"></i>{{ content.fields.title.value.text }}
                        </a>
                    </h2>
                </div>
            {% endif %}
        {% elseif image_type == 'thumb' %}
            {{ video.poster_slide(content, false) }}
        {% endif %}
    </div>
{% endif %}
