{% extends '@ezdesign/user/mail/layout.html.twig' %}

{% trans_default_domain "ngsite_mail" %}

{% block title %}
    <a href="{{ ez_url(ezplatform.rootLocation) }}">{{ ngsite.siteInfoContent.fields.site_name.value.text|trim }}</a>
{% endblock %}

{% block content %}
    {{ "ngsite.user.forgot_password.not_registered.text"|trans }}

    <br><br>

    <a href="{{ ez_url(ezplatform.rootLocation) }}">{{ ngsite.siteInfoContent.fields.site_name.value.text|trim }}</a>
{% endblock %}
