{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}
{# form \Symfony\Component\Form\FormView #}

{% extends '@ibexadesign/forms/info_collection_base.html.twig' %}

{% block form_body %}
    {% if not content.fields.body.empty %}
        {{ ng_render_field(content.fields.body) }}
    {% endif %}

    {% form_theme form '@ibexadesign/forms/theme.html.twig' %}

    {{ form_start(form, form_parameters) }}
        {{ form_errors(form) }}

        <fieldset>
            {{ form_row(form.sender_name) }}

            {{ form_row(form.sender_middle_name, {'required': false}) }}

            {{ form_row(form.referer.value, {
                'hidden' : true,
                'attr' : {
                    'value': referer,
                }
            }) }}

            {{ form_row(form.sender_email) }}
            {{ form_row(form.sender_subject) }}
            {{ form_row(form.sender_message) }}

            {{ form_row(form.newsletter_opt_in_newsletter_1_choice) }}

            <div class="form-submit">
                <button type="submit" class="btn btn-primary">{{ 'ngsite.collected_info.button.send'|trans }}</button>
            </div>
        </fieldset>

        {# Needed for setting hidden fields from the base type #}
        {{ form_rest(form) }}
    {{ form_end(form, { 'render_rest': false }) }}
{% endblock %}

{% block form_response %}
    {{ parent() }}
{% endblock %}
