{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}
{# form \Symfony\Component\Form\FormView #}

{% form_theme form '@ibexadesign/forms/theme.html.twig' %}

{% if not is_collected %}
    {% if not content.fields.body.empty %}
        {{ ng_render_field(content.fields.body) }}
    {% endif %}

    {% set form_parameters = { action: action|default('') } %}

    {% if content.hasField('gtm_event_prefix') and not content.fields.gtm_event_prefix.empty %}
        {% set form_parameters = form_parameters|merge({
            attr: {
                'data-gtm-event-prefix': content.fields.gtm_event_prefix.value.text
            }
        }) %}
    {% endif %}

    {{ form_start(form, form_parameters) }}
        {{ form_errors(form) }}

        <fieldset>
            {{ form_widget(form.sender_name) }}

            {% if form is defined and form.sender_middle_name is defined %}
                <div class="form-group" id="{{ form.sender_middle_name.vars.id }}">
                    <label class="sr-only" for="{{ form.sender_middle_name.vars.id }}">
                        {{ 'ngsite.collected_info.contact_form.middle_name'|trans }}
                    </label>
                    <input type="text"
                           class="form-control sender-middle-name"
                           id="{{ form.sender_middle_name.vars.id }}"
                           name="{{ form.sender_middle_name.vars.full_name }}"
                           placeholder="{{ 'ngsite.collected_info.contact_form.middle_name'|trans }}"
                           tabindex="-1"
                           autocomplete="off">
                </div>
                {% do form.sender_middle_name.setRendered %}
            {% endif %}

            <input type="hidden" id="{{ form.referer.children.value.vars.id }}" name="{{ form.referer.children.value.vars.full_name }}" value="{{ referer }}"/>
            {% do form.referer.setRendered %}

            {{ form_widget(form.email) }}
            {{ form_widget(form.subject) }}
            {{ form_widget(form.message) }}

            <button type="submit" class="btn btn-primary">{{ 'ngsite.collected_info.button.send'|trans }}</button>
        </fieldset>

        {# Needed for setting hidden fields from the base type #}
        {{ form_rest(form) }}
    {{ form_end(form, { 'render_rest': false }) }}
{% else %}
    <div class="full-form-response">
        {% if not content.fields.success_text.empty %}
            {{ ng_render_field(content.fields.success_text) }}
        {% else %}
            <p>{{ 'ngsite.collected_info.success_text'|trans }}</p>
        {% endif %}

        <p>{{ 'ngsite.collected_info.information_collected'|trans }}:</p>

        {#        {% for collected_field, collected_field_value in collected_fields %}
            <p><strong>{{ content.fields[collected_field].name }}:</strong> {{ collected_field_value }}</p>
        {% endfor %}#}

        <a href="{{ ibexa_path(location.parent) }}">{{ 'ngsite.collected_info.return_to_site'|trans }}</a>
    </div>
{% endif %}

