{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-search {{ content.contentInfo.contentTypeIdentifier|replace({'_': '-'}) }} vl7">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <div class="article-content">
                {{ content_fields.image(content, location, 'i320') }}

                <div class="article-content-text">
                    <header class="article-header">
                        <h2 class="title"><a href="{{ path(location) }}">{{ content_fields.title(content) }}</a></h2>
                        <div class="info">
                            <time>Last updated: {{ content.contentInfo.modificationDate|date('F jS, Y H:i') }}</time>
                        </div>
                    </header>
                    <div class="short">
                        {% if content.hasField('teaser_intro') and not content.fields.teaser_intro.empty %}
                            {{ ng_render_field(content.fields.teaser_intro) }}
                        {% elseif content.hasField('full_intro') and not content.fields.full_intro.empty %}
                            {{ ng_render_field(content.fields.full_intro) }}
                        {% elseif content.hasField('body') and not content.fields.body.empty %}
                            {{ content.fields.body.value.xml.saveXML()|striptags|trim|truncate(210) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <div class="additional-info">
                <div class="type">
                    <label>
                        Type:
                    </label>
                    {{ content.contentInfo.contentTypeName }}
                </div>

                {% if score_percent|default(null) is not null %}
                    <div class="score progress">
                        <div class="bar" style="width:{{ score_percent }}%">{{ score_percent }}%</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>
