{% set site_info = ngmore.siteInfoContent %}

<footer>
    <div class="container">
        <div class="footer-cell footer-menu">
            <h3>{{ 'ngmore.layout.additional_menu.title'|trans }}</h3>

            {% block page_additional_menu %}
                {{ render_esi(
                    controller(
                        'ngmore.controller.menu:renderMenu', {
                            menuName: 'ngmore_additional_menu',
                            activeItemId: main_category_location_id ?? 0
                        }
                    )
                ) }}
            {% endblock %}
        </div>

        <div class="footer-cell footer-info">
            {% if not site_info.fields.footer_block.empty %}
                <div>
                    {{ ng_render_field(site_info.fields.footer_block) }}
                </div>
            {% endif %}

            <address>
                {{ 'ngmore.layout.powered_by'|trans }} <a href="http://www.netgenlabs.com/What-we-do">Netgen &amp; eZ Platform</a>
            </address>
        </div>

        <div class="footer-cell footer-social">
            <h3>{{ 'ngmore.layout.follow_us.title'|trans }}</h3>

            <ul>
                {% if not site_info.fields.facebook.empty %}
                    <li><a href="{{ site_info.fields.facebook.value.link }}"><i class="fa fa-facebook"></i><span class="tt">Facebook</span></a></li>
                {% endif %}

                {% if not site_info.fields.twitter.empty %}
                    <li><a href="{{ site_info.fields.twitter.value.link }}"><i class="fa fa-twitter"></i><span class="tt">Twitter</span></a></li>
                {% endif %}

                {% if not site_info.fields.instagram.empty %}
                    <li><a href="{{ site_info.fields.instagram.value.link }}"><i class="fa fa-instagram"></i><span class="tt">Instagram</span></a></li>
                {% endif %}

                {% if not site_info.fields.gplus.empty %}
                    <li><a href="{{ site_info.fields.gplus.value.link }}"><i class="fa fa-google-plus"></i><span class="tt">Google+</span></a></li>
                {% endif %}

                {% if not site_info.fields.linkedin.empty %}
                    <li><a href="{{ site_info.fields.linkedin.value.link }}"><i class="fa fa-linkedin"></i><span class="tt">LinkedIn</span></a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</footer>
