{% extends '@ibexadesign/user/mail/layout.html.twig' %}

{% trans_default_domain "ngsite_mail" %}

{% block title %}
    <a href="{{ ibexa_url(ibexa.rootLocation) }}">{{ ngsite.siteInfoContent.fields.site_name.value.text|trim }}</a>
{% endblock %}

{% block content %}
    {{ "ngsite.user.activate.not_registered.text"|trans }}

    <br><br>

    <a href="{{ ibexa_url(ibexa.rootLocation) }}">{{ ngsite.siteInfoContent.fields.site_name.value.text|trim }}</a>
{% endblock %}
