{# ng_video - block_item default view type #}

{% extends 'NetgenMoreDemoBundle:parts/block_item_view_types:block_item.html.twig' %}

{% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}
{% set video_type = ez_field_value( content, 'video_type' ) %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-video vl">

        {% if not ez_is_field_empty( content, 'poster' ) %}
            <a href="{{ location_path }}" class="att-poster image">
                <i class="fa fa-play-circle"></i>
                {{ ez_render_field( content, 'poster', { 'parameters': { 'alias': 'ng_image_block_item' } } ) }}
            </a>
        {% elseif 'youtube' in video_type.identifiers %}
            <a href="{{ location_path }}" class="att-poster image">
                <i class="fa fa-play-circle"></i>
                <img src="http://img.youtube.com/vi/{{ video_identifier }}/mqdefault.jpg" >
            </a>
        {% elseif 'vimeo' in video_type.identifiers %}
            <a href="{{ location_path }}" class="att-poster image">
                <i class="fa fa-play-circle"></i>
                <div class="vimeo-poster" data-id="{{ video_identifier }}"></div>
            </a>
        {% elseif 'dailymotion' in video_type.identifiers %}
            <a href="{{ location_path }}" class="att-poster image dailymotion-poster">
                <i class="fa fa-play-circle"></i>
                <img src="http://www.dailymotion.com/thumbnail/video/{{ video_identifier }}" >
            </a>
        {% endif %}

        <div class="info">
            <h2 class="att-name title"><a href="{{ location_path }}">{{ ez_content_name( content ) }}</a></h2>
        </div>
    </div>
{% endblock %}
