{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ viewType }} ng-blog-post vl1">

    {{ content_fields.image(content, location) }}

    <header class="article-header">
        <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
        <p class="info">
            <span class="article-author">
                {% if not content.fields.author_override.empty %}
                    {{ ng_render_field(content.fields.author_override) }}
                {% else %}
                    {{ content.owner.name }}
                {% endif %}
            </span>
            <time>{{ content.fields.publish_date.value.value|date('j M Y') }}</time>
        </p>
    </header>
</article>
