{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ viewType }} ng-blog-post vl1">

    {{ content_fields.image(content, location) }}

    <header class="article-header">
        <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
        <div class="info">
            <span class="article-author">
                {% if not content.fields.author_override.empty %}
                    {{ ng_render_field(content.fields.author_override) }}
                {% else %}
                    {{ content.owner.name }}
                {% endif %}
            </span>
            <time>{{ content.fields.publish_date.value.value|date('j M Y') }}</time>
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <span class="sponsored-tag">{{ 'ngmore.layout.sponsored'|trans }}</span>
            {% elseif not content.fields.main_topic.empty %}
                <a href="{{ path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
            {% endif %}
        </div>
    </header>

    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
