{# ng_article - block_item overlay view type #}

{% extends 'NetgenMoreDemoBundle:parts/block_item_view_types:block_item.html.twig' %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-article vl t1">

        {% if not ez_is_field_empty( content, 'line_image' ) %}
            {{ ez_render_field(
                content,
                'line_image', {
                    'parameters': {
                        'alias': 'ng_image_block_item',
                        'link_class': 'att-image image',
                        'link_href': location_path
                    }
                }
            ) }}
        {% elseif not ez_is_field_empty( content, 'image' ) %}
            {{ ez_render_field(
                content,
                'image', {
                    'parameters': {
                        'alias': 'ng_image_block_item',
                        'link_class': 'att-image image',
                        'link_href': location_path
                    }
                }
            ) }}
        {% endif %}
        <div class="info">
            <h2 class="att-title title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
        </div>
    </div>
{% endblock %}
