{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% set image = content.fieldValue('image') %}
{% set image_mobile = content.fieldValue('image_mobile') %}

{% block content %}
<article class="view-component view-component-about about-style-2">
    <div class="row align-items-center justify-content-center justify-content-lg-left">
        {% if image is not empty %}
            <div class="article-image col-lg-6 mb-4 mb-lg-0">
                <picture class="image">
                    {% if image_mobile is not empty %}
                        <source media="(max-width: 991px)" srcset="{{ ng_image_alias( content.fields.image_mobile, 'i770' ).uri }}">
                    {% endif %}
                    <source media="(min-width: 992px)" srcset="{{ ng_image_alias( content.fields.image, 'original' ).uri }}">
                    {{ ng_render_field(content.fields.image,  {
                        'parameters': {
                            'lazy_loading': false,
                            'alias': 'i1920'
                        }
                    }) }}
                </picture>
            </div>
        {% endif %}

        <header class="article-header{% if image is not empty %} col-lg-5 offset-lg-1{% endif %}">
            {% if not content.fields.eyebrow_title.empty %}
                <div class="eyebrow-title">
                    {{ ng_render_field(content.fields.eyebrow_title) }}
                </div>
            {% endif %}

            {% if not content.fields.title.empty %}
                <h2 class="title">
                    {{ ng_render_field(content.fields.title)}}
                </h2>
            {% endif %}

            {% if not content.fields.description.empty %}
                <div class="short">
                    {{ ng_render_field(content.fields.description) }}
                </div>
            {% endif %}

            <div class="actions">
                {% if not content.fields.link_1.empty %}
                    {{ ng_render_field(
                        content.fields.link_1, {
                            parameters: {
                                css_class: 'btn btn-primary'
                            }
                        }
                    ) }}
                {% endif %}

                {% if not content.fields.link_2.empty %}
                    {{ ng_render_field(
                        content.fields.link_2, {
                            parameters: {
                                css_class: 'btn btn-default'
                            }
                        }
                    ) }}
                {% endif %}
            </div>
        </header>
    </div>
</article>
{% endblock %}
