{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) or not ez_is_field_empty( content, 'video_identifier' ) %}
    {% set video_type = ez_field_value( content, 'video_type' ) %}
    {% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}

    <div class="{% if is_slider %}swiper-slide{% endif %}">
        {% if not ez_is_field_empty( content, 'video_file_hd' ) %}
            {% set field = 'video_file_hd' %}
        {% else %}
            {% set field = 'video_file' %}
        {% endif %}

        {% set image_path = asset( 'bundles/netgenmoredemo/images/video_poster_default.png' ) %}

        {% if not ez_is_field_empty( content, 'poster' ) %}
            {% set image_alias = ez_image_alias( ngmore_field( content, 'poster' ), content.versionInfo, 'i1140' ) %}
            {% if image_alias.uri is defined and image_alias.uri is not empty %}
                {% set image_path = image_alias.uri %}
            {% endif %}
        {% endif %}

        {% set download_url = path( 'ngmore_download', { 'contentId': content.id, 'fieldId': content.getField( field ).id } ) %}
        {% set mime_type = ez_field_value( content, field ).mimeType %}

        {% if 'upload' in video_type.identifiers %}
            <div class="video-config video-local-{{ content.id }}"
                 style="display: none;"
                 data-video_player_id="video-local-{{ content.id }}"
                 data-autostart="{% if ez_field_value( content, 'autoplay' ).bool or is_slider %}true{% else %}false{% endif %}"
                 data-image="{{ image_path }}"
                 data-file="{{ download_url }}"
                 data-videotype="local"
                 data-mimetype="{{ mime_type }}">
            </div>
            {% if is_slider %}
                <a class="rsImg"
                   data-rsVideo="video-local-{{ content.id }}"
                   href="{{ image_path }}"></a>
            {% else %}
                <div class="video-container" id="video-local-{{ content.id }}">Loading the player ...</div>
            {% endif %}
        {% elseif 'youtube' in video_type.identifiers %}
            <div class="video-config video-external-{{ content.id }}"
                 data-video_player_id="video-external-{{ content.id }}"
                 data-autostart="{% if ez_field_value( content, 'autoplay' ).bool or is_slider %}true{% else %}false{% endif %}"
                 data-image="{{ image_path }}"
                 data-file="https://www.youtube.com/watch?v={{ video_identifier }}"
                 data-videotype="youtube">
            </div>
            {% if is_slider %}
                <a class="rsImg"
                   data-rsVideo="video-external-{{ content.id }}"
                   href="{{ image_path }}"></a>
            {% else %}
                <div class="video-container" id="video-external-{{ content.id }}">Loading the player ...</div>
            {% endif %}
        {% elseif 'vimeo' in video_type.identifiers %}
            <div class="video-vimeo embed-responsive embed-responsive-16by9">
                <iframe id="video-external-{{ content.id }}" class="embed-responsive-item" src="//player.vimeo.com/video/{{ video_identifier }}" ></iframe>
            </div>
        {% elseif 'dailymotion' in video_type.identifiers %}
            <div class="video-dailymotion embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" class="embed-responsive-item" src="//www.dailymotion.com/embed/video/{{ video_identifier }}{% if ez_field_value( content, 'autoplay' ).bool %}?autoplay=1{% endif %}" allowfullscreen></iframe>
            </div>
        {% endif %}
    </div>
{% endif %}
