{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% extends nglayouts.layoutTemplate %}

{% block content %}
    <div class="view-type view-type-{{ view_type }} ng-feedback-form">
        <header class="full-page-header full-form-header">
            <div class="container">
                <h1 class="full-page-title">{{ ng_render_field(content.fields.title) }}</h1>
                {% if not is_valid and not content.fields.full_intro.empty %}
                    <div class="full-page-intro">
                        {{ ng_render_field(content.fields.full_intro) }}
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="full-form-content">
            <div class="container">
                {# this is an example for the classic reload submit #}
{#                {{ ng_view_content(#}
{#                    form,#}
{#                    'payload',#}
{#                    {#}
{#                        params: {#}
{#                            fullLocation: fullLocation,#}
{#                            refererLocationId: location.id#}
{#                        }#}
{#                    }#}
{#                ) }}#}
                {{ ng_view_content(
                    content,
                    'payload',
                    {
                        params: {
                            action: path('app_info_collection_handle_ajax_submit', { formContentId: formContentId }) ~ suffix,
                            label: label,
                            refererLocationId: refererLocationId|default(null),
                            class: 'js-form-embed',
                        }
                    }
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
