{% macro poster( content, location, alias_name ) %}
    {% set alias_name = alias_name|default( 'i480' ) %}

    <a href="{{ path( location ) }}" class="image-16by9">
        {% if not ez_is_field_empty( content, 'poster' ) %}
            {{ ez_render_field( content, 'poster', { 'parameters': { 'alias': alias_name } } ) }}
        {% elseif not ez_is_field_empty( content, 'video_identifier' ) %}
            {% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}
            {% set video_types = ez_field_value( content, 'video_type' ).identifiers %}

            {% if 'youtube' in video_types %}
                <img src="https://img.youtube.com/vi/{{ video_identifier }}/mqdefault.jpg" />
            {% elseif 'vimeo' in video_types %}
                <img src="" class="vimeo-poster" data-id="{{ video_identifier }}" data-thumbname="thumbnail_large" />
            {% elseif 'dailymotion' in video_types %}
                <img src="" class="dailymotion-poster" data-id="{{ video_identifier }}" data-thumbname="thumbnail_360_url" />
            {% endif %}
        {% else %}
                <img src="{{ asset( 'bundles/netgenmoredemo/images/video_poster.png' ) }}" />
        {% endif %}
    </a>
{% endmacro %}

{% macro poster_slide( content, use_lazy_load ) %}
    {% import 'NetgenMoreDemoBundle:parts:slide.html.twig' as slide %}

    {% set use_lazy_load = use_lazy_load|default( false ) %}

    {% if not ez_is_field_empty( content, 'poster' ) %}
        {{ slide.image( content, 'poster', 'i1140', use_lazy_load ) }}
    {% elseif not ez_is_field_empty( content, 'video_identifier' ) %}
        {% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}
        {% set video_types = ez_field_value( content, 'video_type' ).identifiers %}

        {% if 'youtube' in video_types %}
            <img {% if use_lazy_load %}class="swiper-lazy" data-{% endif %}src="https://img.youtube.com/vi/{{ video_identifier }}/mqdefault.jpg" />
        {% elseif 'vimeo' in video_types %}
            <img src="" class="vimeo-poster" data-id="{{ video_identifier }}" data-thumbname="thumbnail_large" />
        {% elseif 'dailymotion' in video_types %}
            <img src="" class="dailymotion-poster" data-id="{{ video_identifier }}" data-thumbname="thumbnail_720_url" />
        {% endif %}
    {% else %}
            <img {% if use_lazy_load %}class="swiper-lazy" data-{% endif %}src="{{ asset( 'bundles/netgenmoredemo/images/video_poster.png' ) }}" />
    {% endif %}
{% endmacro %}

{% macro player( content, use_external_embed ) %}
    {% set use_external_embed = use_external_embed|default( false ) %}

    {% set video_types = ez_field_value( content, 'video_type' ).identifiers %}
    {% set autoplay = ez_field_value( content, 'autoplay' ).bool and not is_slider %}

    {% set image_path = asset( 'bundles/netgenmoredemo/images/video_poster.png' ) %}
    {% if not ez_is_field_empty( content, 'poster' ) %}
        {% set image_path = ez_image_alias( ez_field( content, 'poster' ), content.versionInfo, 'i1140' ).uri %}
    {% endif %}

    {% if 'upload' in video_types %}
        {% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
            {% set field_name = ez_is_field_empty( content, 'video_file_hd' ) ? 'video_file' : 'video_file_hd' %}

            <div class="video-config video-local-{{ content.id }}"
                 data-video_player_id="video-local-{{ content.id }}"
                 data-width="770"
                 data-height="433"
                 data-autostart="{% if autoplay %}true{% else %}false{% endif %}"
                 data-image="{{ image_path }}"
                 data-file="{{ path( 'ngmore_download', { 'contentId': content.id, 'fieldId': content.getField( field_name ).id } ) }}"
                 data-videotype="local"
                 data-mimetype="{{ ez_field_value( content, field_name ).mimeType }}">
            </div>

            <div class="video-container" id="video-local-{{ content.id }}">Loading the player ...</div>
        {% endif %}
    {% elseif not ez_is_field_empty( content, 'video_identifier' ) %}
        {% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}

        {% if 'youtube' in video_types %}
            {% if use_external_embed %}
                <div class="video-youtube embed-responsive embed-responsive-16by9">
                    <iframe frameborder="0" class="embed-responsive-item" src="//www.youtube.com/embed/{{ video_identifier }}{% if autoplay %}?autoplay=1{% endif %}" width="770" height="433" allowfullscreen></iframe>
                </div>
            {% else %}
                <div class="video-youtube">
                    <div class="video-config video-external-{{ content.id }}"
                         data-video_player_id="video-external-{{ content.id }}"
                         data-width="770"
                         data-height="433"
                         data-autostart="{% if autoplay %}true{% else %}false{% endif %}"
                         data-image="{{ image_path }}"
                         data-file="https://www.youtube.com/watch?v={{ video_identifier }}"
                         data-videotype="youtube">
                    </div>

                    <div class="video-container" id="video-external-{{ content.id }}">Loading the player ...</div>
                </div>
            {% endif %}
        {% elseif 'vimeo' in video_types %}
            {# JW Player does not support Vimeo so only embed is available #}
            <div class="video-vimeo embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" class="embed-responsive-item" src="//player.vimeo.com/video/{{ video_identifier }}{% if autoplay %}?autoplay=1{% endif %}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% elseif 'dailymotion' in video_types %}
            {# JW Player does not support Daily Motion so only embed is available #}
            <div class="video-dailymotion embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" class="embed-responsive-item" src="//www.dailymotion.com/embed/video/{{ video_identifier }}{% if autoplay %}?autoplay=1{% endif %}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro player_slide( content, use_external_embed ) %}
    {% set use_external_embed = use_external_embed|default( false ) %}

    {% set video_types = ez_field_value( content, 'video_type' ).identifiers %}

    {% set image_path = asset( 'bundles/netgenmoredemo/images/video_poster.png' ) %}
    {% if not ez_is_field_empty( content, 'poster' ) %}
        {% set image_path = ez_image_alias( ez_field( content, 'poster' ), content.versionInfo, 'i1140' ).uri %}
    {% endif %}

    {% if 'upload' in video_types %}
        {% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}
            {% set field_name = ez_is_field_empty( content, 'video_file_hd' ) ? 'video_file' : 'video_file_hd' %}

            <div class="video-config video-local-{{ content.id }}" style="display: none;"
                 data-video_player_id="video-local-{{ content.id }}"
                 data-autostart="false"
                 data-image="{{ image_path }}"
                 data-file="{{ path( 'ngmore_download', { 'contentId': content.id, 'fieldId': content.getField( field_name ).id } ) }}"
                 data-videotype="local"
                 data-mimetype="{{ ez_field_value( content, field_name ).mimeType }}">
            </div>

            <div class="video-container" id="video-local-{{ content.id }}">Loading the player ...</div>
        {% endif %}
    {% elseif not ez_is_field_empty( content, 'video_identifier' ) %}
        {% set video_identifier = ez_field_value( content, 'video_identifier' ).text %}

        {% if 'youtube' in video_types %}
            {% if use_external_embed %}
                <div class="video-youtube embed-responsive embed-responsive-16by9">
                    <iframe frameborder="0" class="embed-responsive-item" src="//www.youtube.com/embed/{{ video_identifier }}" width="770" height="433" allowfullscreen></iframe>
                </div>
            {% else %}
                <div class="video-youtube">
                    <div class="video-config video-external-{{ content.id }}" style="display: none;"
                         data-video_player_id="video-external-{{ content.id }}"
                         data-autostart="false"
                         data-image="{{ image_path }}"
                         data-file="https://www.youtube.com/watch?v={{ video_identifier }}"
                         data-videotype="youtube">
                    </div>

                    <div class="video-container" id="video-external-{{ content.id }}">Loading the player ...</div>
                </div>
            {% endif %}
        {% elseif 'vimeo' in video_types %}
            {# JW Player does not support Vimeo so only embed is available #}
            <div class="video-vimeo embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" class="embed-responsive-item" src="//player.vimeo.com/video/{{ video_identifier }}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% elseif 'dailymotion' in video_types %}
            {# JW Player does not support Daily Motion so only embed is available #}
            <div class="video-dailymotion embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" class="embed-responsive-item" src="//www.dailymotion.com/embed/video/{{ video_identifier }}" width="770" height="433" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
