{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} ng-audio vl1">
    <i class="fas fa-volume-up article-icon" aria-hidden="true"></i>
    {{ content_fields.image(content, location) }}

    <header class="article-header">
	    <h2 class="title">
            <a href="{{ path(location) }}">
                {{ content_fields.title(content) }}
            </a>
        </h2>
	</header>

    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
