{# ng_blog_post - block_item default view type #}

{% set location_path = path(
    'ez_urlalias', {
        'locationId': location is defined and location is not empty ?
            location.id :
            content.contentInfo.mainLocationId
        }
) %}

<div class="content-view-block-item ng-blog-post">

    {% if not ez_is_field_empty( content, 'line_image' ) %}
        <div class="att-image">
            {{ ez_render_field( content, 'line_image', { 'parameters': { 'alias': 'ng_image_block_item', 'link_href': location_path } } ) }}
        </div>
    {% elseif not ez_is_field_empty( content, 'image' ) %}
        <div class="att-image">
            {{ ez_render_field( content, 'image', { 'parameters': { 'alias': 'ng_image_block_item', 'link_href': location_path } } ) }}
        </div>
    {% endif %}

    <div class="att-publish-date">
        {{ ez_field_value( content, 'publish_date' ).value|date( 'j. n. Y.' ) }}
    </div>

    <div class="att-author">
        {% if not ez_is_field_empty( content, 'author_override' ) %}
            {{ ez_render_field( content, 'author_override' ) }}
        {% else %}
            {{ ngmore_owner_name( content ) }}
        {% endif %}
    </div>

    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

</div>
