{# ng_banner_video - block_item campaign view type #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% set image_field = content.getField( 'poster' ) %}
{% set image_alias = ez_image_alias( image_field, content.versionInfo, alias_name|default( 'original' ) ) %}

{% block content %}
    <div class="rsContent{% if not ez_is_field_empty( content, 'css_class' ) %} {{ ez_field_value( content, 'css_class' ).text }}{% endif %}">

        {% if not ez_is_field_empty( content, 'video_identifier' ) %}
            {% set video_type = ez_field_value( content, 'video_type' ) %}

            {% if 'youtube' in video_type.identifiers %}

                <div class="video-youtube">
                    {# Potrebno mozda još srediti funkciju atributa data-autoresize="{{ ez_field_value( content, 'autoresize' )[0] }}" i data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}?autoplay=1{% endif %}" #}
                    <img alt="YouTube" class="rsImg" src="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" data-rsVideo="https://www.youtube.com/embed/{{ ez_field_value( content, 'video_identifier' ).text }}?rel=0" />
                </div>

            {% elseif 'vimeo' in video_type.identifiers %}

                <div class="video-vimeo">
                    {# Potrebno mozda još srediti funkciju atributa data-autoresize="{{ ez_field_value( content, 'autoresize' )[0] }}" i data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}?autoplay=1{% endif %}" #}
                    <img alt="Vimeo" class="rsImg" src="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" data-rsVideo="https://vimeo.com/{{ ez_field_value( content, 'video_identifier' ).text }}" />
                </div>

            {% endif %}
        {% elseif not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) %}

            <div class="video-local">
                <img alt="{{ ez_content_name( content ) }}" class="rsImg" src="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}"
                data-rsVideo='<video style="display:none;" class="" id="sublime_0" title="{{ ez_content_name( content ) }}" width="770" height="433" data-uid="sublime_0" preload="none" data-initial-overlay-enable="false" data-autoresize="{{ ez_field_value( content, 'autoresize' ).identifiers[0] }}" data-autoplay="{% if ez_field_value( content, 'autoplay' ).bool %}true{% else %}false{% endif %}">
                    {% if not ez_is_field_empty( content, 'video_file' ) %}
                        <source src="{{ ez_field_value( content, 'video_file' ).uri }}" />
                    {% endif %}

                    {% if not ez_is_field_empty( content, 'video_file_hd' ) %}
                        <source src="{{ ez_field_value( content, 'video_file_hd' ).uri }}" />
                    {% endif %}
                </video>' />
            </div>

        {% endif %}

        <div class="bContainer">
            <div class="rsABlock txtCent">

                {% if not ez_is_field_empty( content, 'title' ) %}
                    <h2 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
                {% endif %}

                {% if not ez_is_field_empty( content, 'short_description' ) %}
                    <div class="att-short-description">{{ ez_render_field( content, 'short_description' ) }}</div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
