{# ng_banner_video - block_item default view type #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-banner-video{% if not ez_is_field_empty( content, 'css_class' ) %} {{ ez_field_value( content, 'css_class' ).text }}{% endif %}">

        {{ ez_render_field(
            content,
            'poster', {
                parameters: {
                    alias: alias_name|default( 'original' ),
                    force_tag: true
                }
            }
        ) }}

        {% if not ez_is_field_empty( content, 'title' ) %}
            <h2 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
        {% endif %}

    </div>
{% endblock %}
