{# ng_banner_video - block_item default view type #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% set image_field = content.getField( 'poster' ) %}
{% set image_alias = ez_image_alias( image_field, content.versionInfo, alias_name|default( 'original' ) ) %}

{% block content %}
    <div class="content-view-block-item ng-banner-video{% if not ez_is_field_empty( content, 'css_class' ) %} {{ ez_field_value( content, 'css_class' ).text }}{% endif %}">

        <img src="{% if image_alias %}{{ image_alias.uri }}{% else %}//:0{% endif %}" alt="{{ image_field.value.alternativeText }}" />

        {% if not ez_is_field_empty( content, 'title' ) %}
            <h2 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
        {% endif %}

    </div>
{% endblock %}
