{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="activation-sent">

                {% if disabled is defined and disabled %}

                    <div class="alert alert-danger">
                        <p><strong>{{ 'ngmore.user.register.activation.user_disabled'|trans }}</strong></p>
                    </div>

                {% elseif form is defined %}

                    <div class="page-header">
                        <h1 class="title">{{ 'ngmore.user.register.activation.form.title'|trans }}</h1>
                    </div>

                    {{ form_start( form, { 'attr': { 'class': 'form-horizontal' } } ) }}

                    {{ form_row( form.email, { 'label': 'ngmore.user.register.resend_activation.email', 'attr': { 'class': 'input-large col-xs-12' } } ) }}

                    <input type="submit" value="{{ 'ngmore.user.register.resend_activation.submit'|trans }}" class="btn btn-primary col-xs-12" />

                    {{ form_end( form ) }}

                {% else %}

                    <div class="page-header">
                        <h1 class="title">{{ 'ngmore.user.register.activation.sent.title'|trans }}</h1>
                    </div>

                    {{ 'ngmore.user.register.activation.sent.text'|trans( { '%path%': path( 'ngmore_resend_activation_mail' ) } )|raw }}

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
