{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ "ngmore.user.forgot_password.title"|trans }}</h1>
    </div>

    <p>{{ "ngmore.user.forgot_password.text"|trans }}</p>

    {{ form_start( form ) }}

    <fieldset>
        <div class="form-group">
            {{ form_row( form.email, { 'label': 'ngmore.user.forgot_password.email.label', 'attr': { 'class': 'form-control' } } ) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ 'ngmore.user.forgot_password.submit'|trans }}</button>
    </fieldset>

    {{ form_end( form ) }}
{% endblock %}
