{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="row">
        <div class="reset-pass">
            <div class="login-box">

                <div class="page-header">
                    <h1 class="title">{{ "ngmore.user.forgotten_password.title"|trans }}</h1>
                </div>

                {% if form is defined and form %}
                    <div class="short">
                        <p>{{ "ngmore.user.forgotten_password.text"|trans }}</p>
                    </div>

                    {{ form_start( form, { 'attr': { 'class': 'form-horizontal' } } ) }}

                    {{ form_row( form.email, { 'attr': { 'class': 'input-large col-xs-12' } } ) }}

                    {{ form_row( form.generate_new_password, { 'attr': { 'class': 'btn btn-primary col-xs-12' } } ) }}

                    {{ form_end( form ) }}

                {% else %}
                    <div class="alert">
                        <p>{{ "ngmore.user.forgotten_pasword.mail_sent"|trans }}</p>
                    </div>
                {% endif %}

            </div>
        </div>
    </div><!--/row-->
{% endblock %}