{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% block content %}
    <div class="row">
        <div class="reset-password">
            <div class="login-box">
                <div class="page-header">
                    <h1 class="title">{{ 'ngmore.user.reset_password.title'|trans }}</h1>
                </div>

                {% if errorMessage is defined and errorMessage is not empty %}
                    <div class="alert alert-danger">
                        <p><strong>{{ errorMessage|raw }}</strong></p>
                    </div>
                {% endif %}

                {% if form is defined %}
                    <div class="form">

                        {{ form_start( form, { 'attr': { 'class': 'form-horizontal' } } ) }}

                        {{ form_row( form.password.first, { 'attr': { 'class': 'input-large col-xs-12' } } ) }}
                        {{ form_row( form.password.second, { 'attr': { 'class': 'input-large col-xs-12' } } ) }}

                        {{ form_row( form.save, { 'attr': { 'class': 'btn btn-primary col-xs-12' } } ) }}

                        {{ form_end( form ) }}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}