{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/content_fields.html.twig' as content_fields %}
{% import '@ibexadesign/content/macros/slide.html.twig' as slide %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<div {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-news vl3">
    {{ slide.image(content) }}

    <div class="info">
        <div class="date">
            {% include '@ibexadesign/content/parts/time.html.twig' %}
        </div>
        <h3 class="title"><a href={{ ibexa_path(location) }}>{{ content_fields.title(content) }}</a></h3>
    </div>
</div>
