{# NG landing page - full view #}

{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% set showPath = false %}
{% set disableLayoutRegions = true %}
{% set disableContainers = true %}

{% if not ez_is_field_empty( content, 'line_intro' ) %}
    {% set metaData = { 'description': ez_field_value( content, 'line_intro' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% elseif not ez_is_field_empty( content, 'full_intro' ) %}
    {% set metaData = { 'description': ez_field_value( content, 'full_intro' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% endif %}

{% block content %}
<div class="content-view-full ng-landing-page {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">
    <h1 class="att-title page-header">{{ ez_render_field( content, 'title' ) }}</h1>

    {% if not ez_is_field_empty( content, 'full_intro' ) %}
        <div class="att-full-intro">
            {{ ez_render_field( content, 'full_intro' ) }}
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'body' ) %}
        <div class="att-body">
            {{ ez_render_field( content, 'body' ) }}
        </div>
    {% endif %}

    {{ ez_render_field( content, 'page' ) }}
</div>
{% endblock %}
