{% set location_path = path(location) %}

{% set children = location.filterChildren(['image'], 1).currentPageResults %}

<article class="view-type view-type-{{ viewType }} ng-gallery vl1">
    <i class="fas fa-camera article-icon" aria-hidden="true"></i>
    {% if children is not empty %}
        <figure class="image">
            {{ ng_render_field(
                children[0].content.fields.image, {
                    parameters: {
                        alias: 'i480',
                        alt_text: children[0].content.fields.name.value,
                        link_href: location_path,
                    }
                }
            ) }}
        </figure>
    {% endif %}
    <header class="article-header">
        <h2 class="title"><a href="{{ location_path }}">{{ ng_render_field(content.fields.title) }}</a></h2>
        <div class="info">
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <span class="sponsored-tag">{{ 'ngmore.layout.sponsored'|trans }}</span>
            {% elseif not content.fields.main_topic.empty %}
                <a href="{{ path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
            {% endif %}
        </div>
    </header>
    {% if not content.fields.line_intro.empty %}
        <div class="short">
            {{ ng_render_field(content.fields.line_intro) }}
        </div>
    {% endif %}
</article>
