{% set advanced_html_tag = block.customAttributes.advanced_html_tag|default( 'h2' ) %}
{% set advanced_html_id = block.customAttributes.advanced_html_id|default( '' ) %}
{% set advanced_html_class = block.customAttributes.advanced_html_class|default( '' ) %}

{% set set_container = block.customAttributes.advanced_set_container|default( '0' ) == '1' %}

<div {% if advanced_html_id is not empty %} id="{{ advanced_html_id }}"{% endif %}
    class="block-type-{{ block_type }} block-view-{{  block.view }} {{ advanced_html_class }} clearfix">

    {% if set_container %}<div class="container">{% endif %}
        {% if block.name is not empty %}
            <div class="block-name">
                <{{ advanced_html_tag }}>{{ block.name }}</{{ advanced_html_tag }}>
            </div>
        {% endif %}

        <div class="row">
            {% for valid_item in valid_items %}
                <div class="col-sm-6 col-md-3">
                    {{ render(
                        controller(
                            'ez_content:viewLocation', {
                                'locationId': valid_item.locationId,
                                'viewType': 'block_item',
                                'params': {
                                    'alias_name': 'contentgrid',
                                    'view_type': block.customAttributes.advanced_block_item_viewtype
                                }
                            }
                        )
                    ) }}
                </div>
                {% if loop.index % 2 == 0 %}<div class="clearfix visible-sm-block"></div>{% endif %}
                {% if loop.index % 4 == 0 %}<div class="clearfix visible-md-block"></div>{% endif %}
                {% if loop.index % 4 == 0 %}<div class="clearfix visible-lg-block"></div>{% endif %}
            {% endfor %}
        </div>
    {% if set_container %}</div>{% endif %}

</div>
