{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}
{% import '@ibexadesign/parts/content_field_macros.html.twig' as content_fields %}

{% set image = content.fields.image %}
{% set image_mobile = content.fields.image_mobile %}
{% set local_video = content.fields.video %}
{% set local_video_mobile = content.fields.video_mobile %}

{% block content %}
    <article class="view-component view-component-hero hero-style-1{% if image is not empty or local_video is not empty %} bg-figure{% endif %}">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <header>

                        {% if not content.fields.eyebrow_title.empty %}
                            <h4 class="eyebrow-title">
                                {{ ng_render_field(content.fields.eyebrow_title) }}
                            </h4>
                        {% endif %}

                        {% if not content.fields.title.empty %}
                            <h1 class="title">
                                {{ng_render_field(content.fields.title)}}
                            </h1>
                        {% endif %}

                        {% if not content.fields.description.empty %}
                            <div class="short">
                                {{ ng_render_field(content.fields.description) }}
                            </div>
                        {% endif %}

                        <div class="actions">
                            {% if not content.fields.link_label_1.empty %}
                                <a href="#" class="btn btn-primary">{{ content.fields.link_label_1.value.text }}</a>
                            {% endif %}
                            {# {{ macros.content_link(content, content.fields.link_label_1.value.text, "btn btn-primary") }} #}
                            {% if not content.fields.link_label_2.empty %}
                                <a href="#" class="btn btn-outline">{{ content.fields.link_label_2.value.text }}</a>
                            {% endif %}
                            {# {{ macros.content_link(content, content.fields.link_label_2.value.text, "btn btn-outline") }} #}
                        </div>

                    </header>
                </div>
            </div>
        </div>

        <figure>
            {% if local_video is defined and not local_video.empty %}
                <video preload="auto" autoplay="" loop="" muted="" playsinline="" class="js-responsive-video"
                    data-desktop-vid="{{ path('ngsite_download', {'contentId': content.id, 'fieldId': local_video.id, 'isInline': 1}) }}"
                    {% if local_video_mobile is defined and not local_video_mobile.empty %}
                    data-mobile-vid="{{ path('ngsite_download', {'contentId': content.id, 'fieldId': local_video_mobile.id, 'isInline': 1}) }}"
                {% endif %}
                ></video>
                <span class="overlay"></span>
            {% elseif not image.empty %}
                <picture>
                    {% if not image_mobile.empty %}
                        <source media="(max-width: 991px)" srcset="{{ ng_image_alias( content.fields.image_mobile, 'i770' ).uri }}">
                    {% endif %}
                    <source media="(min-width: 992px)" srcset="{{ ng_image_alias( content.fields.image, 'original' ).uri }}">
                    {{ ng_render_field(content.fields.image,  {
                        'parameters': {
                            'lazy_loading': false,
                            'alt_text': content.name,
                        }
                    }) }}
                </picture>
                <span class="overlay"></span>
            {% endif %}
        </figure>

    </article>
{% endblock %}
