{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}
{% set image = content.fieldValue('image') %}
{% set image_mobile = content.fieldValue('image_mobile') %}

{% block content %}
    <article class="view-component view-component-hero hero-style-2">

        <div class="container">

            <div class="row justify-content-center"><div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <header>
                    {% if not content.fields.eyebrow_title.empty %}
                        <h4 class="eyebrow-title">
                            {{ ng_render_field(content.fields.eyebrow_title) }}
                        </h4>
                    {% endif %}

                    {% if not content.fields.title.empty %}
                        <h1 class="title">
                            {{ng_render_field(content.fields.title)}}
                        </h1>
                    {% endif %}

                    {% if not content.fields.description.empty %}
                        <div class="short">
                            {{ ng_render_field(content.fields.description) }}
                        </div>
                    {% endif %}

                    <div class="actions">
                        {% if not content.fields.link_label_1.empty %}
                            <a href="#" class="btn btn-primary">{{ content.fields.link_label_1.value.text }}</a>
                        {% endif %}
                        {# {{ macros.content_link(content, content.fields.link_label_1.value.text, "btn btn-primary") }} #}
                        {% if not content.fields.link_label_2.empty %}
                            <a href="#" class="btn btn-outline">{{ content.fields.link_label_2.value.text }}</a>
                        {% endif %}
                        {# {{ macros.content_link(content, content.fields.link_label_2.value.text, "btn btn-outline") }} #}
                    </div>
                </header>
            </div></div>

            {% if image is not empty %}
                <figure>
                    <picture>
                        {% if image_mobile is not empty %}
                            <source media="(max-width: 991px)" srcset="{{ ng_image_alias( content.fields.image_mobile, 'i770' ).uri }}">
                        {% endif %}
                        <source media="(min-width: 992px)" srcset="{{ ng_image_alias( content.fields.image, 'i1920' ).uri }}">
                        {{ ng_render_field(content.fields.image,  {
                            'parameters': {
                                'lazy_loading': false,
                                'alt_text': content.name,
                            }
                        }) }}
                    </picture>
                </figure>
            {% endif %}

        </div>

    </article>
{% endblock %}
