{% set advanced_html_tag = block.customAttributes.advanced_html_tag|default( 'h2' ) %}
{% set advanced_html_id = block.customAttributes.advanced_html_id|default( '' ) %}
{% set advanced_html_class = block.customAttributes.advanced_html_class|default( '' ) %}

{% set set_container = block.customAttributes.advanced_set_container|default( '0' ) == '1' %}
{% set is_ajax_request = app.request.isXmlHttpRequest() %}

{% if not is_ajax_request %}
<div {% if advanced_html_id is not empty %} id="{{ advanced_html_id }}"{% endif %}
    class="block-type-content-grid block-view-{{ block.view }} {{ advanced_html_class }} clearfix">

    {% if set_container %}<div class="container">{% endif %}

        {% if block.name is not empty %}
            <div class="block-name">
                <{{ advanced_html_tag }}>{{ block.name }}</{{ advanced_html_tag }}>
            </div>
        {% endif %}

    <div class="ajax-results ajax-results-region-{{ block.id }}">
{% endif %}

        {% if valid_items|length > 0 %}
            {% include 'NetgenMoreDemoBundle:blocks/content_grid:' ~ block.view ~ '.html.twig' ignore missing %}
        {% endif %}

        <div class="ajax-content-block-controls-{{ block.id }}">
            <div class="ajax-content-block-{{ block.id }}" id="ajax-content-block"
                data-url="{{ path( 'ngmore_ajax_content_grid_load_more', { id: block.id } ) }}"
                data-block-id="{{ block.id }}"
                data-pagenb="{{ pager.currentPage }}"
                data-total-count="{{ pager.nbResults }}"
                data-items-per-page="{{ block.customAttributes.limit|default( 10 ) }}">
            </div>

            <div class="ajax-status-reports-{{ block.id }}"></div>

            {% if block.customAttributes.advanced_load_more_type == 'scroll' %}
                <div class="ajax-load-on-type load-on-scroll" data-block-id="{{ block.id }}"></div>
            {% elseif block.customAttributes.advanced_load_more_type == 'button' %}
                <div class="ajax-load-on-type load-on-button" data-block-id="{{ block.id }}">
                    <button class="btn btn-default" value="{{ block.id }}">{{ 'ngmore.block.ajax_content_grid_dynamic.load_more'|trans }}</button>
                </div>
            {% elseif block.customAttributes.advanced_load_more_type == 'paginate' %}
                {% if pager.haveToPaginate() %}
                    <div class="load-on-paginate ajax-content-grid-pagination-{{ block.id }}" data-block-id="{{ block.id }}">
                        {{ pagerfanta(
                            pager,
                            'ngmore', {
                                routeName: 'ngmore_ajax_content_grid_load_more',
                                routeParams: {
                                    id: block.id
                                }
                            }
                        ) }}
                    </div>
                {% endif %}
            {% endif %}
        </div>

{% if not is_ajax_request %}
    </div>

    {% if set_container %}</div>{% endif %}
</div>
{% endif %}
