{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-article vl clearfix">

    {{ content_fields.image( content, location ) }}

    <div class="info">
        <h2 class="title"><a href="{{ path( location ) }}">{{ ng_render_field( content.fields.title ) }}</a></h2>
        {{ content_fields.intro( content ) }}
    </div>
</div>
