<div class="header-search">
    <a class="searchbox-toggle" href="{{ path('ngsite_content_search') }}" title="{{ 'ngsite.layout.search'|trans }}">
        <i class="fas fa-search"></i>
    </a>
    <form class="navbar-search" method="get" action="{{ path('ngsite_content_search') }}" id="site-wide-search">
        <span class="d-none">{{ 'ngsite.layout.search'|trans }}</span>
        <input class="search-query" type="search" name="searchText" id="site-wide-search-field" placeholder="{{ 'ngsite.layout.search'|trans }}" />
        <button type="submit" class="search-submit">{{ 'ngsite.layout.search.button'|trans }}</button>
    </form>
</div>
