{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/content_fields.html.twig' as content_fields %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-gallery vl4">
    <i class="icon-camera article-icon" aria-hidden="true"></i>

    {% set children = location.filterChildren(['image'], 1).currentPageResults %}

    {% if children.searchHits is not empty %}
        {% set first_image = children[0].content %}

        <figure class="image">
            {{ ng_render_field(
                first_image.fields.image, {
                    parameters: {
                        alias: 'i480',
                        alt_text: first_image.fields.name.value,
                        link_href: ibexa_path(location),
                    }
                }
            ) }}
        </figure>
    {% endif %}
    <div class="article-content">
        <header class="article-header">
            <h3 class="title"><a href="{{ ibexa_path(location) }}">{{ content_fields.title(content) }}</a></h3>
        </header>
        {{ content_fields.intro(content) }}
    </div>
</article>
