{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/content_fields.html.twig' as content_fields %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-recipe vl4">
    {{ content_fields.image(content, location, 'i320') }}

    <div class="article-content">
        <header class="article-header">
            <h3 class="title"><a href="{{ ibexa_path(location) }}">{{ content_fields.title(content) }}</a></h3>
            <div class="info">
                {% include '@ibexadesign/content/parts/author.html.twig' %}

                <span class="recipe-details">
                    {% if not content.fields.preparation_time.empty %}
                        <span><i class="icon-clock"></i> {{ ng_render_field(content.fields.preparation_time) }} {{ 'ngsite.layout.recipe.min'|trans }}</span>
                    {% endif %}
                    {% if not content.fields.serving_calories.empty %}
                        <span><i class="icon-fire"></i> {{ ng_render_field(content.fields.serving_calories) }} {{ 'ngsite.layout.recipe.cal'|trans }}</span>
                    {% endif %}
                </span>
            </div>
        </header>
        {{ content_fields.intro(content) }}
    </div>
</article>
