{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}

{% set grid_class = "features-grid-col-" ~  block.parameter('number_of_columns').value|default(3) %}

{% block content %}
    <article class="view-component view-component-features features-style-5">
        <header class="article-header">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                        <h2 class="title">{{ ng_render_field(content.fields.title) }}</h2>
                        <div class="short">
                            {{ ng_render_field(content.fields.description) }}
                        </div>
                </div>
            </div>
        </header>
        <div class="features-grid {{ grid_class }}">
            {% for i in 1..8 %}
                {% set item_image = 'item_' ~ i ~ '_image' %}
                {% set item_title = 'item_' ~ i ~ '_title' %}
                {% set item_description = 'item_' ~ i ~ '_description' %}

                {% if not content.fields[item_title].empty or not content.fields[item_description].empty %}
                    <div class="features-grid-item">
                        {% if content.fields[item_image] is defined and not content.fields[item_image].empty %}
                            <div class="item-image">
                                {{ ng_render_field(content.fields[item_image]) }}
                            </div>
                        {% endif %}
                        {% if content.fields[item_title] is defined and not content.fields[item_title].empty %}
                            <h3 class="item-title">{{ ng_render_field(content.fields[item_title]) }}</h3>
                        {% endif %}
                        {% if content.fields[item_description] is defined and not content.fields[item_description].empty %}
                            <div class="item-short">
                                {{ ng_render_field(content.fields[item_description]) }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </article>
{% endblock %}
