{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}

{% block content %}
    <article class="view-component view-component-features features-style-7">
        <header class="article-header">
            <h2 class="title">{{ ng_render_field(content.fields.title) }}</h2>

            {% if not content.fields.link_label.empty %}
                <div class="info">
                    <a href="#" class="btn btn-secondary">{{ content.fields.link_label.value.text }}</a>
                </div>
            {% endif %}
        </header>

        <div class="list-zigzag">

            {% for i in 1..8 %}
                <div class="list-item">

                {% set item_image = 'item_' ~ i ~ '_image' %}
                {% set item_eyebrow_title = 'item_' ~ i ~ '_highlight_title' %}
                {% set item_title = 'item_' ~ i ~ '_title' %}
                {% set item_description = 'item_' ~ i ~ '_description' %}
                {% set item_link_label = 'item_' ~ i ~ '_link_label' %}

                {% if not content.fields[item_title].empty or not content.fields[item_description].empty %}

                    <article class="view-type view-type-zigzag {## !!!! ##}ng-banner vl9{## /!!!! ##}">

                        {% if content.fields[item_image] is defined and not content.fields[item_image].empty %}
                            <figure class="image">
                                {{ ng_render_field(content.fields[item_image]) }}
                            </figure>
                        {% endif %}

                        <div class="article-content">
                            <header class="article-header">
                                {% if content.fields[item_eyebrow_title] is defined and not content.fields[item_eyebrow_title].empty %}
                                    <span class="eyebrow-title">{{ ng_render_field(content.fields[item_eyebrow_title]) }}</span>
                                {% endif %}
                                {% if content.fields[item_title] is defined and not content.fields[item_title].empty %}
                                    <h2 class="title">{{ ng_render_field(content.fields[item_title]) }}</h2>
                                {% endif %}
                            </header>
                            {% if content.fields[item_description] is defined and not content.fields[item_description].empty %}
                                <div class="short">
                                    {{ ng_render_field(content.fields[item_description]) }}
                                </div>
                            {% endif %}
                            {% if content.fields[item_link_label] is defined and not content.fields[item_link_label].empty %}
                                <div class="short">
                                    <a href="#" class="btn btn-outline">{{ content.fields[item_link_label].value.text }}</a>
                                </div>
                            {% endif %}
                        </div>

                    </article>
                {% endif %}

                </div>
            {% endfor %}

            </div>

    </article>
{% endblock %}
